/* table */
.table-all {
  border-collapse: collapse;
  width: 100%;
  border-style: hidden;
  box-shadow: 0 0 0 1px #000;
  border-radius: 10px;
}
/* 左邊管理區 */
.left-href-color {
  color: black;
  text-decoration: none;
}
.left-href-color:hover {
  color: black;
  text-decoration: none;
}
.member-name {
  color: #6da77f;
}
.grade-icon {
  color: #4e4e4e;
  font-size: larger;
}
.table-active {
  background-color: #6da77f;
  border-radius: 0;
}
.table-active:hover {
  background-color: #bae29a;
}

/* 頭貼 */
.cover-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.headshot-img-box img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.headshot-img-box {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  text-align: center;
}

/* right-side */
.have-been {
  float: left;
}
.switch-category {
  float: right;
}
.title-main {
  color: #19634a;
}
.text-weight {
  font-size: 18px;
}
.text-weight-bold {
  font-weight: bold;
  font-size: 26px;
}
.counts {
  padding: 12px;
  border: #bae29a 1px solid;
}
.star-icon {
  color: #ffb943;
}
.cancel-icon {
  color: #5b7553;
}

/* 圖片 */
.picture-img {
  border-radius: 10px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.picture-img-box {
  width: 150px;
  height: auto;
}
.picture-img-wrapper {
  display: flex;
  align-self: center;
  justify-content: center;
}
/* about-membership */
.about-membership {
  bottom: -10px;
  right: 5px;
}
.about-membership a {
  /* font-family: Source Sans Pro; */
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.about-membership a:hover {
  text-decoration: none;
}
/*會員制度氣泡start*/
.member-level {
  width: 60px;
  margin: 0 auto;
}
.about-membership-bubble {
  width: 300px;
  background: rgba(238, 237, 237, 1);
  border-radius: 5px;
  right: -120px;
  top: 40px;
  display: none;
  z-index: 100;
}
.about-membership-bubble-arrow {
  width: 0px;
  height: 0px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #f2f2f2 transparent;
  position: absolute;
  top: -25px;
  right: 115px;
}
.membership {
  /* font-family: Source Sans Pro; */
  font-size: 14px;
  line-height: 20px;
}
.membership-low {
  color: #4e4e4e;
}
.membership-medium {
  color: #19634a;
}
.membership-high {
  color: #ffb943;
}
/*會員制度氣泡end*/
