/*============below all============*/
:root {
  --info-color: #19634a;
  --font-color: #ffffff;
  --button-color: #6da77f;
  --iconHover-color: rgb(249, 249, 173);
  --listContent-font: Source Sans Pro;
  --mountain_H_barShadow-color: #FFEEB4;
  --mountain_H_barBackground-color: #FFB943;
  --barBackgroundSecond-color: transparent;
  --barFont-color: white;
  --map_hover: #c4c4c4;
  --map_hover_font: rgba(0, 0, 0, 0.4);
  --mountain_H_progressLevelBarXiangshan-width: calc(33.3%);
  --mountain_H_progressDistanceBarXiangshan-width: calc(41.6%);
  --mountain_H_progressTimeBarXiangshan-width: calc(96 / 100 * 100%);/* 4 days*/
  --mountain_H_progressDistanceBarJinmian-width: calc(29.2%);
  --mountain_H_progressTimeBarJinmian-width: calc(72 / 100 * 100%);/*3 days*/
  --mountain_H_progressDistanceBarChi-hsing-width: calc(33.6%);
  --mountain_H_progressTimeBarChi-hsing-width: calc(48 / 100 * 100%);/*2 days*/
}
body {
  font-family: Roboto;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

/*============below header============*/
/* .header {
  background: var(--info-color);
  height: 78px;
}
.logo_top img {
  position: absolute;
  left: 23px;
  top: 6px;
}
.btns {
  position: absolute;
  right: 25px;
  top: 25px;
}
.search_button,
.shopping_button,
.sign_button {
  color: var(--font-color);
  margin-right: 20px;
}
.search_button:hover,
.shopping_button:hover,
.sign_button:hover {
  color: var(--iconHover-color);
}
.sign_button {
  border: 1px solid var(--font-color);
  border-radius: 5px;
  padding: 5px 20px;
}
.sign_button:hover {
  border: 1px solid var(--iconHover-color);
  border-radius: 5px;
  padding: 5px 20px;
} */

/*============below nav============*/
/* .nav {
  position: absolute;
  left: 266px;
  top: 36px;
  max-width: 100%;
}
.nav-font {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: var(--font-color);
  margin-right: 20px;
}
.nav-font:hover {
  color: var(--font-color);
} */

/*============below content============*/
/* part1 map start */
.mountain_bg {
  width: 100%;
  height: 798px;
  background: url(img/mountain-img/bgShort.png);
  background-size: cover;
}
.mountain_bg_box {
  position: relative;
}
.mountain_maps {
  position: absolute;
  bottom: 69px;
  right: 143px;
}
.mountain_maps_item {
  position: relative;
}
.mountain_circle {
  clip-path: circle(50% at 50% 50%);
}
.mountain_triangle {
  /* clip-path: polygon(0% 100%, 50% 0%, 100% 100%); */
  clip-path: polygon(0% 0%, 100% 0%, 50% 50%);
}

.mountain_H_Xiangshan { /*大壩*/
  position: absolute;
  top: 406px;
  right: 293px;
  border: 3px solid var(--button-color);
  border-radius: 50%;
}
.mountain_H_Xiangshan_box {
  width: 52px;
  height: 52px;
  background: url(img/mountain-img/Tapachien.jpeg);
  background-size: cover;
}
.mountain_H_Xiangshan:hover .mountain_H_Xiangshan_box_hover {
  display: block; /*將區塊顯示*/
}
.mountain_H_Xiangshan_box_hover {
  position: relative;
  display: none; /*here*/
  z-index: 2;
}
.mountain_H_Xiangshan_hover {
  position: absolute;
  width: 536px;
  height: 100px;
  background-color: var(--map_hover);
  opacity: 0.6;
  top: -80px;
  left: 55px;
  transform: translateX(-55%);
}
.mountain_H_Xiangshan_hover_pic {
  position: absolute;
  width: 536px;
  height: 325px;
  border: 3px solid var(--barFont-color);
  background: url(img/mountain-img/Tapachien.jpeg);
  background-size: cover;
  top: -405px;
  left: 55px;
  transform: translateX(-55%);
}
.mountain_H_Xiangshan_hover_pic_font {
  width: 530px;
  height: 64px;
  background-color: var(--map_hover_font);
  transform: translateY(400%);
}
.mountain_H_Xiangshan_hover_pic_font_title {
  font-size: 34px;
}
.mountain_H_Xiangshan_hover_pic_font_star {
  font-size: 20px;
}

.mountain_H_Jinmian_box {
  width: 52px;
  height: 52px;
  background: url(img/mountain-img/wuling.jpeg);
  background-size: cover;
}
.mountain_H_Jinmian { /*武陵*/
  position: absolute;
  top: 483px;
  right: 350px;
  border: 3px solid var(--button-color);
  border-radius: 50%;
}
.mountain_H_Jinmian:hover .mountain_H_Jinmian_box_hover {
  display: block; /*將區塊顯示*/
}
.mountain_H_Jinmian_box_hover {
  position: relative;
  display: none; /*here*/
  z-index: 2;
}
.mountain_H_Jinmian_hover {
  position: absolute;
  width: 536px;
  height: 100px;
  background-color: var(--map_hover);
  opacity: 0.6;
  top: -80px;
  left: 55px;
  transform: translateX(-55%);
}
.mountain_H_Jinmian_hover_pic {
  position: absolute;
  width: 536px;
  height: 325px;
  border: 3px solid var(--barFont-color);
  background: url(img/mountain-img/wuling.jpeg);
  background-size: cover;
  top: -405px;
  left: 55px;
  transform: translateX(-55%);
}
.mountain_H_Jinmian_hover_pic_font {
  width: 530px;
  height: 64px;
  background-color: var(--map_hover_font);
  transform: translateY(400%);
}
.mountain_H_Jinmian_hover_pic_font_title {
  font-size: 34px;
}
.mountain_H_Jinmian_hover_pic_font_star {
  font-size: 20px;
}

.mountain_H_Chi-hsing_box {
  width: 52px;
  height: 52px;
  background: url(img/mountain-img/Mayang.jpeg);
  background-size: cover;
}
.mountain_H_Chi-hsing { /*馬洋*/
  position: absolute;
  top: 424px;
  right: 350px;
  border: 3px solid var(--button-color);
  border-radius: 50%;
  z-index: 1;
}
.mountain_H_Chi-hsing:hover .mountain_H_Chi-hsing_box_hover {
  display: block; /*將區塊顯示*/
}
.mountain_H_Chi-hsing_box_hover {
  position: relative;
  display: none;
  z-index: 1;
}
.mountain_H_Chi-hsing_hover {
  position: absolute;
  width: 536px;
  height: 100px;
  background-color: var(--map_hover);
  opacity: 0.6;
  top: -80px;
  left: 55px;
  transform: translateX(-55%);
}
.mountain_H_Chi-hsing_hover_pic {
  position: absolute;
  width: 536px;
  height: 325px;
  border: 3px solid var(--barFont-color);
  background: url(img/mountain-img/Mayang.jpeg);
  background-size: cover;
  top: -405px;
  left: 55px;
  transform: translateX(-55%);
}
.mountain_H_Chi-hsing_hover_pic_font {
  width: 530px;
  height: 64px;
  background-color: var(--map_hover_font);
  transform: translateY(400%);
}
.mountain_H_Chi-hsing_hover_pic_font_title {
  font-size: 34px;
}
.mountain_H_Chi-hsing_hover_pic_font_star {
  font-size: 20px;
}

.highBear {
  position: absolute;
  bottom: -58px;
  left: 70px;
}
/* part1 map end */
.mountain_container {
  padding: 0;
}
/* map_btn star */
.mountain_map_btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -96px;
  z-index: 0;
}
.mountain_low_button,
.mountain_middle_button {
  padding: 8px 35px;
  margin-right: 68px;
  border: 0;
}
.mountain_high_button {
  padding: 8px 35px;
  margin-right: 0px;
  border: 0;
}
/* map_btn end */
.mountain_content_list {
  position: relative;
}
/* map list star */
.mountain_content_list h2 {
  margin-top: 108px;
  margin-left: 16px;
  margin-bottom: 24px;
}

.mountain_H_list {
  max-width: 1110px;
  height: 282px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 15px auto 0 auto;
  display: flex;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.mountain_H_Xiangshan_list {
  width: 350px;
  height: 280px;
}
.mountain_H_Xiangshan_pic {
  border-radius: 10px 0 0 10px;
  object-fit: fill;
  width: 350px;
  height: 100%;
}
.mountain_H_Jinmian_list {
  width: 350px;
  height: 280px;
}
.mountain_H_Jinmian_pic {
  border-radius: 10px 0 0 10px;
  object-fit: fill;
  width: 350px;
  height: 100%;
}
.mountain_H_Chi-hsing_list {
  width: 350px;
  height: 280px;
}
.mountain_H_Chi-hsing_pic {
  border-radius: 10px 0 0 10px;
  object-fit: fill;
  width: 350px;
  height: 100%;
}
.mountain_H_list_last {
  max-width: 1110px;
  height: 282px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 15px auto 36px auto;
  display: flex;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.mountain_H_list_detail {
  margin: 16px 24px;
  width: 700px;
  max-width: 100%;
}
.mountain_H_list_detail_box,
.mountain_H_list_font_box {
  display: flex;
}
.mountain_H_list_title {
  font-size: 20px;
  font-family: var(--listContent-font);
  font-weight: bold;
  line-height: 25px;
}
.mountain_H_list_distance_title {
  display: flex;
  position: absolute;
  left: 40%;
  transform: translateX(40%);
}
/* map list end */

/* Level bar star */
.mountain_H_bar_list {
  display: flex;
  margin-top: 4px;
  margin-bottom: 20px;
  margin-left: 40px;
}
.mountain_H_progress-bg {
  margin: 0 auto;
  width: 90%;
  height: 32px;
  border-radius: 50px;
  text-align: center;
  -webkit-box-shadow: inset 0 0 50px var(--mountain_H_barShadow-color);
  box-shadow: inset 0 0 50px var(--mountain_H_barShadow-color);
}
.mountain_H_progress-bar-L-Xiangshan {
  height: 32px;
  border-radius: 50px 0 0 50px;
  float: left;
  width: var(--mountain_H_progressLevelBarXiangshan-width);
  /* fallback */
  background-color: var(--mountain_H_barBackground-color);

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(
    top,
    var(--mountain_H_barBackground-color),
    var(--mountain_H_barBackground-color)
  );
}
.mountain_H_progress-bar-M-Xiangshan {
  height: 32px;
  float: left;
  width: var(--mountain_H_progressLevelBarXiangshan-width);
  /* fallback */
  background-color: var(--mountain_H_barBackground-color);

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(
    right,
    var(--mountain_H_barBackground-color),
    var(--mountain_H_barBackground-color)
  );
}
.mountain_H_progress-bar-H-Xiangshan {
  height: 32px;
  border-radius: 0 50px 50px 0;
  float: left;
  width: var(--mountain_H_progressLevelBarXiangshan-width);
  /* fallback */
  background-color: var(--mountain_H_barBackground-color);

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(
    right,
    var(--mountain_H_barBackground-color),
    var(--mountain_H_barBackground-color)
  );
}
.mountain_H_progress-bg p.goal,
.mountain_H_progress-bg p.raised,
.mountain_H_progress-bg p.unraised {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline;
}
.mountain_H_progress-bg p.raised {
  color: var(--barFont-color);
  margin: 14px 25px 0 50px;
  padding: 0 25px 0 0;
}
.mountain_H_progress-bg p.unraised {
  color: #414141;
  margin: 14px 25px 0 50px;
  padding: 0 25px 0 0;
}
/* Level bar end */

/* Distance bar star */
.mountain_H_progress-bg-font-Xiangshan {
  position: absolute;
  /* left: 50%; */
  transform: translateX(-50%);
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.mountain_H_progress-bg-font-Xiangshan_day{
  color: var(--font-color);
}
.mountain_H_progress_distance-bar {
  height: 32px;
  border-radius: 50px 0 0 50px;
  float: left;
  width: var(--mountain_H_progressDistanceBarXiangshan-width);
  background-color: var(--mountain_H_barBackground-color);
  background: -webkit-linear-gradient(
    top,
    var(--mountain_H_barBackground-color),
    var(--mountain_H_barBackground-color)
  );
}
.mountain_H_progress_distance-bar_Jinmian {
  height: 32px;
  border-radius: 50px 0 0 50px;
  float: left;
  width: var(--mountain_H_progressDistanceBarJinmian-width);
  background-color: var(--mountain_H_barBackground-color);
  background: -webkit-linear-gradient(
    top,
    var(--mountain_H_barBackground-color),
    var(--mountain_H_barBackground-color)
  );
}
.mountain_H_progress_distance-bar_Chi-hsing {
  height: 32px;
  border-radius: 50px 0 0 50px;
  float: left;
  width: var(--mountain_H_progressDistanceBarChi-hsing-width);
  background-color: var(--mountain_H_barBackground-color);
  background: -webkit-linear-gradient(
    top,
    var(--mountain_H_barBackground-color),
    var(--mountain_H_barBackground-color)
  );
}
/* Distance bar end */

/* Time bar star */
.mountain_H_progress_time-bar {
  height: 32px;
  border-radius: 50px 0 0 50px;
  float: left;
  width: var(--mountain_H_progressTimeBarXiangshan-width);
  background-color: var(--mountain_H_barBackground-color);
  background: -webkit-linear-gradient(
    top,
    var(--mountain_H_barBackground-color),
    var(--mountain_H_barBackground-color)
  );
}
.mountain_H_progress_time-bar_Jinmian {
  height: 32px;
  border-radius: 50px 0 0 50px;
  float: left;
  width: var(--mountain_H_progressTimeBarJinmian-width);
  background-color: var(--mountain_H_barBackground-color);
  background: -webkit-linear-gradient(
    top,
    var(--mountain_H_barBackground-color),
    var(--mountain_H_barBackground-color)
  );
}
.mountain_H_progress_time-bar_Chi-hsing {
  height: 32px;
  border-radius: 50px 0 0 50px;
  float: left;
  width: var(--mountain_H_progressTimeBarChi-hsing-width);
  background-color: var(--mountain_H_barBackground-color);
  background: -webkit-linear-gradient(
    top,
    var(--mountain_H_barBackground-color),
    var(--mountain_H_barBackground-color)
  );
}
/* Time bar end */
.mountain_H_article_button {
  position: absolute;
  right: 10%;
  transform: translateX(50%);
}
/* pages_btn star */
.mountain_btn-toolbar {
  margin-bottom: 36px;
}
/* pages_btn end */

.mountain_content_line {
  border-top: 1px solid var(--button-color);
  margin: 0 auto;
  margin-bottom: 72px;
  max-width: 1108px;
}
/*推薦商品 start*/
.product_title h3 {
  margin-left: 16px;
}
.product-list {
  margin-left: 30px;
  display: flex;
}
.product-card {
  margin: 10px auto;
  width: 160px;
}
.product-img-box {
  width: 130px;
  height: 130px;
}
.product-img-box img {
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.cover-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-name {
  display: block;
  margin: 10px 0;
  font-family: Source Sans Pro;
  font-size: 16px;
  line-height: 22px;
  color: #4e4e4e;
}
.product-price {
  font-family: Source Sans Pro;
  font-size: 14px;
  line-height: 20px;
  color: #414141;
}
/*icon start*/
.heart-icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}
.heart-icon-bkg {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  right: 10px;
  top: 10px;
  color: white;
  -webkit-text-stroke: 1px;
  /* -webkit-text-stroke-color: #cc543a; */
  transition: 0.4s;
}
.heart-icon-bkg:hover {
  background: #333;
  color: #eea9a9;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #eea9a9;
}
.heart-icon-bkg:active {
  color: #cc543a;
}
.heart-icon-bkg-click {
  color: #cc543a;
  background: #bdbdbd;
}
.cart-icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
.cart-icon-bkg {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  right: 10px;
  top: 50px;
  transition: 0.4s;
  color: white;
}
.cart-icon-bkg:hover {
  background: #333;
  color: #bae29a;
}
.cart-icon-bkg:active {
  background: #333;
  color: #24936e;
}
/*icon end*/
.mountain_H_downLowBear {
  width: 220px;
  height: 210px;
  background: url(img/mountain-img/highBear.png);
  background-size: cover;
  /* margin-left: 150px; */
  left: 100%;
  transform: translateX(100%);
  margin-top: 50px;
  z-index: 1;
}
.mountain_H_bearSpeak {
  width: 200px;
  height: 130px;
  background: url(img/mountain-img/highSpeak.png);
  background-size: cover;
  margin-top: -45px;
  left: 25%;
  transform: translateX(25%);
  z-index: 0;
}
/*推薦商品 end*/

/*============below footer============*/
/* .footer {
  position: relative;
  background: var(--info-color);
  height: 345px;
  margin-top: 72px;
}
.footer_box {
  padding-top: 50px;
}
.footer_head {
  margin-top: 35px;
  margin-right: 55px;
}
.footer_head_last {
  margin-top: 35px;
  margin-right: 0px;
}
.nav-font_footerLast {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: var(--font-color);
}
.nav-font_footerLast:hover {
  color: var(--font-color);
}
.footer_logo {
  margin-right: 75px;
}
.footer_line {
  border-top: 1px solid var(--font-color);
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1000px;
}
.footer_info {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: var(--font-color);
  margin: 0 10px;
  margin-top: 50px;
}
.footer_copy {
  margin-top: 80px;
  color: var(--font-color);
} */

/*********** ============below media 1200px============ *************/
@media screen and (max-width: 1200px) {
  .mountain_H_list_distance_title {
    left: 31%;
    transform: translateX(55%);
  }
  .mountain_H_downLowBear {
    margin-left: -170px;
  }

  .mountain_H_Xiangshan_list,
  .mountain_H_Jinmian_list,
  .mountain_H_Chi-hsing_list {
    height: 310px;
  }
  .mountain_H_list,
  .mountain_H_list_last {
    height: 311px;
  }
  .mountain_H_list_detail {
    margin: 5px 0px;
  }
  .mountain_H_list_font_box {
    justify-content: center;
  }
  .mountain_H_list_detail_box {
    display: block;
  }
  .mountain_H_list_distance_title {
    position: static;
    left: 0%;
    transform: translateX(0%);
    justify-content: center;
  }
  .mountain_H_Xiangshan_pic,
  .mountain_H_Jinmian_pic,
  .mountain_H_Chi-hsing_pic {
    object-fit: cover;
  }
}
/*********** ============below media 990px============ *************/
@media screen and (max-width: 991px) {
  /*============below media content============*/
  /* media map list start */
  .mountain_maps {
    position: absolute;
    bottom: 69px;
    right: 55px;
  }
  .mountain_low_button,
  .mountain_middle_button {
    padding: 8px 35px;
    margin-right: 16px;
    border: 0;
  }
  .highBear {
    width: 250px;
  }
  .mountain_H_list {
    width: 680px;
    max-width: 100%;
    height: 600px;
    border-radius: 10px;
    margin: 15px auto 0 auto;
    display: block;
  }
  .mountain_H_list_last {
    width: 680px;
    max-width: 100%;
    height: 600px;
    border-radius: 10px;
    margin: 15px auto 36px auto;
    display: block;
  }
  .mountain_H_Xiangshan_list,
  .mountain_H_Jinmian_list,
  .mountain_H_Chi-hsing_list {
    width: 678px;
    max-width: 100%;
    height: 285px;
  }
  .mountain_H_Xiangshan_pic,
  .mountain_H_Jinmian_pic,
  .mountain_H_Chi-hsing_pic {
    border-radius: 10px 10px 0 0;
    /* object-fit: fill; */
    width: 678px;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .mountain_H_list_detail {
    margin: 16px;
    width: 646px;
    max-width: 100%;
  }
  .mountain_H_list_distance_title {
    left: 0%;
    transform: translateX(0%);
  }
  .mountain_H_article_button {
    position: absolute;
    right: 10%;
    transform: translateX(30%);
  }
  /* media map list end */

  /* 推薦商品 star */
  .product_box {
    position: relative;
  }
  .product-list {
    flex-wrap: wrap;
  }
  .mountain_H_downLowBear {
    position: absolute;
    width: 195px;
    height: 182px;
    right: 50%;
    transform: translateX(10%);
    top: 70%;
    z-index: 2;
  }
  .mountain_H_bearSpeak {
    height: 133px;
    position: absolute;
    right: 50%;
    transform: translateX(135%);
    top: 110%;
    z-index: 1;
  }
}
/* 推薦商品 end */
/*********** ============below media 900px============ *************/
@media screen and (max-width: 900px) {
  /* .nav {
    left: 210px;
  }
  .nav-font {
    font-size: 16px;
  } */
  .mountain_H_downLowBear {
    position: absolute;
    /* width: 130px; */
    width: 195px;
    height: 182px;
    right: 50%;
    transform: translateX(-20%);
    top: 70%;
    z-index: 2;
  }
  .mountain_H_bearSpeak {
    height: 133px;
    position: absolute;
    right: 50%;
    transform: translateX(115%);
    top: 110%;
    z-index: 1;
  }
}

/*********** ============below media 768px============ *************/
@media screen and (max-width: 768px) {
  .mountain_bg {
    width: 100%;
    height: 600px;
  }
  .mountain_maps {
    bottom: 69px;
    right: 25px;
  }
  .mountain_low_map {
    width: 450px;
  }

  .highBear{
    width: 200px;
  }
  .mountain_H_Xiangshan { /*大霸*/
    top: 300px;
    right: 220px;
  }
  .mountain_H_Jinmian { /*武陵*/
    top: 350px;
    right: 260px;
  }
  .mountain_H_Chi-hsing { /*馬洋*/
    top: 310px;
    right: 260px;
  }
  .mountain_H_Xiangshan_box,
  .mountain_H_Jinmian_box,
  .mountain_H_Chi-hsing_box {
    width: 30px;
    height: 30px;
  }
  .mountain_H_Xiangshan_hover,
  .mountain_H_Jinmian_hover,
  .mountain_H_Chi-hsing_hover {
    width: 336px;
    height: 40px;
    left: 33px;
    top: -40px;
  }
  .mountain_H_Xiangshan_hover_pic,
  .mountain_H_Jinmian_hover_pic,
  .mountain_H_Chi-hsing_hover_pic {
    width: 336px;
    height: 225px;
    transform: translateX(-65%);
    top: -265px;
    left: 65px;
  }
  .mountain_H_Xiangshan_hover_pic_font,
  .mountain_H_Jinmian_hover_pic_font,
  .mountain_H_Chi-hsing_hover_pic_font {
    width: 330px;
    transform: translateY(240%);
  }
  .mountain_H_Xiangshan_hover_pic_font_title,
  .mountain_H_Jinmian_hover_pic_font_title,
  .mountain_H_Chi-hsing_hover_pic_font_title {
    font-size: 30px;
  }

  .mountain_map_btn {
    width: 350px;
  }
  .mountain_low_button,
  .mountain_middle_button,
  .mountain_high_button {
    padding: 8px 25px;
    margin-right: 16px;
  }

  .mountain_H_list,
  .mountain_H_list_last {
    height: 670px;
  }
  .mountain_H_list_detail {
    margin: 5px 0px;
  }
  .mountain_H_list_font_box {
    justify-content: center;
  }
  .mountain_H_list_detail_box {
    display: block;
    /* margin-bottom: 50px; */
  }
  .mountain_H_list_distance_title {
    position: static;
    left: 0%;
    transform: translateX(0%);
    justify-content: center;
  }
  .mountain_H_bar_list {
    flex-direction: column;
    margin: 16px 0;
  }

  .mountain_H_downLowBear {
    right: 50%;
    transform: translateX(-50%);
    top: 70%;
  }
  .mountain_H_bearSpeak {
    right: 50%;
    transform: translateX(45%);
    top: 70%;
  }
}

@media screen and (max-width: 768px) {
  /*============below media header============*/
  /* .btns {
    right: 70px;
  }
  .btn_nav {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 25px;
    top: 20px;
  }
  .bar1,
  .bar2,
  .bar3 {
    position: relative;
    width: 35px;
    height: 5px;
    background-color: var(--font-color);
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  } */

  /*============below media nav============*/
  /* .nav {
    width: 100%;
    background-color: var(--button-color);
    position: absolute;
    top: 78px;
    left: 0;
    display: none;
  }
  .nav_show {
    display: block;
  }
  .nav ul {
    flex-direction: column;
    margin: 0;
    overflow: hidden;
  }
  .nav ul li {
    border-bottom: 1px solid var(--info-color);
    width: 100%;
  }
  .nav ul li a {
    display: flex;
    justify-content: center;
    padding: 10px 40px;
    color: var(--font-color);
    line-height: 36px;
    vertical-align: middle;
    font-size: 22px;
  } */

  /*============below media footer============*/
  /* .footer_head {
    margin-right: 0px;
  }
  .footer_logo {
    margin-right: 20px;
  } */
}

/*********** ============below media 530px============ *************/
@media screen and (max-width: 530px) {
  .mountain_H_downLowBear {
    right: 50%;
    transform: translateX(-30%);
    top: 83%;
  }
  .mountain_H_bearSpeak {
    right: 50%;
    transform: translateX(5%);
    top: 105%;
  }
}
