<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="index.css" type="text/css" />
    <link rel="stylesheet" href="product-bag.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="vegas/vegas.css" />
    <title>商品頁-機能背包</title>
  </head>
  <body>
    <!-- body star -->
    <!-- =========header star========= -->
    <header class="header sticky-top">
      <a href="./HomepageIndex.html" class="logo_top">
        <img src="img/logo.png" alt="logo_top" />
      </a>
      <div class="btns d-flex">
        <a href="#" class="search_button"><i class="bi bi-search h4"></i></a>
        <a href="./shopping-1-content.html" class="shopping_button position-relative">
          <div class="cart-num position-absolute text-center">0</div>
          <i class="bi bi-cart h4"></i>
        </a>
        <a href="./member-login.html" class="sign_button">Sign In</a>
      </div>
      <!-- =========nav star========= -->
      <nav class="nav">
        <ul class="list-unstyled d-flex">
          <li>
            <a class="nav-font" href="./mountain_index.html">路線地圖</a>
          </li>
          <li>
            <a class="nav-font" href="../Article/article-recommend.html">推薦攻略</a>
          </li>
          <li>
            <a class="nav-font" href="./product.html">購物商城</a>
          </li>
          <li>
            <a class="nav-font" href="./outfit.html">建議穿搭</a>
          </li>
        </ul>
      </nav>

      <div class="btn_nav">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      <!-- <a class="btn_nav btn_close"></a> -->
      <!-- =========nav end========= -->
    </header>
    <!-- =========header end========= -->
    <!-- =========main start========= -->
    <main>
      <div class="container">
        <!-- =========search bar start========= -->
        <form class="form my-4">
          <div class="form-row justify-content-center">
            <input
              type="search"
              placeholder="搜尋"
              class="form-control search-bar col-5"
            />
          </div>
        </form>
        <!-- =========search bar end========= -->
        <!-- =========category bar start========= -->
        <div class="category-bar">
          <ul class="d-flex justify-content-center list-unstyled">
            <div class="row">
              <li class="col-3 px-0">
                <a href="./product.html">商城首頁</a>
              </li>
              <li class="col-3 px-0"><a href="./product-bag.html" class="active">機能背包</a></li>
              <li class="col-3 px-0"><a href="#">登山鞋</a></li>
              <li class="col-3 px-0"><a href="#">衣服</a></li>
            </div>
          </ul>
        </div>
        <!-- =========category bar end========= -->
        <!-- =========product start========= -->
        <div>
          <div class="row product-list my-4">
            <div class="col-6 col-md-4 col-lg-3 px-0">
              <div class="product-card">
                <div class="product-img-box position-relative">
                  <a href="#">
                    <img
                      class="cover-fit"
                      src="./img/product-img/bags-pic1.jpeg"
                      alt="The North Face 黑色便捷休閒腰包"
                      title="The North Face 黑色便捷休閒腰包"
                    />
                  </a>
                  <a
                    role="button"
                    class="position-absolute heart-icon-bkg position-relative"
                  >
                    <i
                      class="bi bi-heart-fill position-absolute heart-icon"
                    ></i>
                  </a>
                  <a
                    role="button"
                    class="position-absolute cart-icon-bkg position-relative"
                  >
                    <i class="bi bi-cart-fill position-absolute cart-icon"></i>
                  </a>
                </div>
                <a href="#" class="text-left product-name"
                  >The North Face<br />黑色便捷休閒腰包</a
                >
                <p class="text-right product-price">NT $1,780</p>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 px-0">
              <div class="product-card">
                <div class="product-img-box position-relative">
                  <a href="#">
                    <img
                      class="cover-fit"
                      src="./img/product-img/bags-pic2.jpeg"
                      alt="The North Face 黑灰色休閒後背包"
                      title="The North Face 黑灰色休閒後背包"
                    />
                  </a>
                  <a
                    role="button"
                    class="position-absolute heart-icon-bkg position-relative"
                  >
                    <i
                      class="bi bi-heart-fill position-absolute heart-icon"
                    ></i>
                  </a>
                  <a
                    role="button"
                    class="position-absolute cart-icon-bkg position-relative"
                  >
                    <i class="bi bi-cart-fill position-absolute cart-icon"></i>
                  </a>
                </div>
                <a href="#" class="text-left product-name"
                  >The North Face<br />黑灰色休閒後背包</a
                >
                <p class="text-right product-price">NT $2,180</p>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 px-0">
              <div class="product-card">
                <div class="product-img-box position-relative">
                  <a href="#">
                    <img
                      class="cover-fit"
                      src="./img/product-img/bags-pic3.jpeg"
                      alt="The North Face 黑色舒適休閒後背包"
                      title="The North Face 黑色舒適休閒後背包"
                    />
                  </a>
                  <a
                    role="button"
                    class="position-absolute heart-icon-bkg position-relative"
                  >
                    <i
                      class="bi bi-heart-fill position-absolute heart-icon"
                    ></i>
                  </a>
                  <a
                    role="button"
                    class="position-absolute cart-icon-bkg position-relative"
                  >
                    <i class="bi bi-cart-fill position-absolute cart-icon"></i>
                  </a>
                </div>
                <a href="#" class="text-left product-name"
                  >The North Face<br />黑色舒適休閒後背包</a
                >
                <p class="text-right product-price">NT $5,292</p>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 px-0">
              <div class="product-card">
                <div class="product-img-box position-relative">
                  <a href="#">
                    <img
                      class="cover-fit"
                      src="./img/product-img/bags-pic4.jpeg"
                      alt="Karrimor sector 25 休閒登山後背包"
                      title="Karrimor sector 25 休閒登山後背包"
                    />
                  </a>
                  <a
                    role="button"
                    class="position-absolute heart-icon-bkg position-relative"
                  >
                    <i
                      class="bi bi-heart-fill position-absolute heart-icon"
                    ></i>
                  </a>
                  <a
                    role="button"
                    class="position-absolute cart-icon-bkg position-relative"
                  >
                    <i class="bi bi-cart-fill position-absolute cart-icon"></i>
                  </a>
                </div>
                <a href="#" class="text-left product-name"
                  >Karrimor<br />sector 25 休閒登山後背包</a
                >
                <p class="text-right product-price">NT $3,510</p>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 px-0">
              <div class="product-card">
                <div class="product-img-box position-relative">
                  <a href="#">
                    <img
                      class="cover-fit"
                      src="./img/product-img/bags-pic5.jpeg"
                      alt="MAMMUT長毛象 Lithium Speed 20L"
                      title="MAMMUT長毛象 Lithium Speed 20L"
                    />
                  </a>
                  <a
                    role="button"
                    class="position-absolute heart-icon-bkg position-relative"
                  >
                    <i
                      class="bi bi-heart-fill position-absolute heart-icon"
                    ></i>
                  </a>
                  <a
                    role="button"
                    class="position-absolute cart-icon-bkg position-relative"
                  >
                    <i class="bi bi-cart-fill position-absolute cart-icon"></i>
                  </a>
                </div>
                <a href="#" class="text-left product-name"
                  >MAMMUT長毛象<br />Lithium Speed 20L</a
                >
                <p class="text-right product-price">NT $4,480</p>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 px-0">
              <div class="product-card">
                <div class="product-img-box position-relative">
                  <a href="./product-detail.html">
                    <img
                      class="cover-fit"
                      src="./img/product-img/bags-pic6.png"
                      alt="Arcteryx 始祖鳥 徒步背包 Brize 32"
                      title="Arcteryx 始祖鳥 徒步背包 Brize 32"
                    />
                  </a>
                  <a
                    role="button"
                    class="position-absolute heart-icon-bkg position-relative"
                  >
                    <i
                      class="bi bi-heart-fill position-absolute heart-icon"
                    ></i>
                  </a>
                  <a
                    role="button"
                    class="position-absolute cart-icon-bkg position-relative"
                  >
                    <i class="bi bi-cart-fill position-absolute cart-icon"></i>
                  </a>
                </div>
                <a href="./product-detail.html" class="text-left product-name"
                  >Arcteryx 始祖鳥<br />徒步背包 Brize 32</a
                >
                <p class="text-right product-price">NT $8,341</p>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 px-0">
              <div class="product-card">
                <div class="product-img-box position-relative">
                  <a href="#">
                    <img
                      class="cover-fit"
                      src="./img/product-img/bags-pic7.jpeg"
                      alt="GREGORY JADE 38 登山背包"
                      title="GREGORY JADE 38 登山背包"
                    />
                  </a>
                  <a
                    role="button"
                    class="position-absolute heart-icon-bkg position-relative"
                  >
                    <i
                      class="bi bi-heart-fill position-absolute heart-icon"
                    ></i>
                  </a>
                  <a
                    role="button"
                    class="position-absolute cart-icon-bkg position-relative"
                  >
                    <i class="bi bi-cart-fill position-absolute cart-icon"></i>
                  </a>
                </div>
                <a href="#" class="text-left product-name"
                  >GREGORY<br />JADE 38 登山背包</a
                >
                <p class="text-right product-price">NT $6,070</p>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 px-0">
              <div class="product-card">
                <div class="product-img-box position-relative">
                  <a href="#">
                    <img
                      class="cover-fit"
                      src="./img/product-img/bags-pic8.jpeg"
                      alt="The North Face 藍色專業登山後背包"
                      title="The North Face 藍色專業登山後背包"
                    />
                  </a>
                  <a
                    role="button"
                    class="position-absolute heart-icon-bkg position-relative"
                  >
                    <i
                      class="bi bi-heart-fill position-absolute heart-icon"
                    ></i>
                  </a>
                  <a
                    role="button"
                    class="position-absolute cart-icon-bkg position-relative"
                  >
                    <i class="bi bi-cart-fill position-absolute cart-icon"></i>
                  </a>
                </div>
                <a href="#" class="text-left product-name"
                  >The North Face<br />藍色專業登山後背包</a
                >
                <p class="text-right product-price">NT $8,380</p>
              </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 px-0">
              <div class="product-card">
                <div class="product-img-box position-relative">
                  <a href="#">
                    <img
                      class="cover-fit"
                      src="./img/product-img/bags-pic9.jpeg"
                      alt="The North Face 黑色舒適防護專業後背包"
                      title="The North Face 黑色舒適防護專業後背包"
                    />
                  </a>
                  <a
                    role="button"
                    class="position-absolute heart-icon-bkg position-relative"
                  >
                    <i
                      class="bi bi-heart-fill position-absolute heart-icon"
                    ></i>
                  </a>
                  <a
                    role="button"
                    class="position-absolute cart-icon-bkg position-relative"
                  >
                    <i class="bi bi-cart-fill position-absolute cart-icon"></i>
                  </a>
                </div>
                <a href="#" class="text-left product-name"
                  >The North Face<br />黑色舒適防護專業後背包</a
                >
                <p class="text-right product-price">NT $4,923</p>
              </div>
            </div>
          </div>
        </div>
        <!-- =========product end========= -->
      </div>
    </main>
    <!-- =========main end========= -->
    <!-- =========footer star========= -->
    <footer class="footer">
      <div class="footer_box">
        <div class="d-flex justify-content-center">
          <div class="footer_head">
            <a class="nav-font" href="./mountain_index.html">路線地圖</a>
          </div>
          <div class="footer_head">
            <a class="nav-font" href="../Article/article-recommend.html">推薦攻略</a>
          </div>
          <a href="./HomepageIndex.html" class="footer_logo">
            <img src="img/logo.png" alt="footer_logo" />
          </a>
          <div class="footer_head">
            <a class="nav-font" href="./product.html">購物商城</a>
          </div>
          <div class="footer_head_last">
            <a class="nav-font_footerLast" href="./outfit.html">建議穿搭</a>
          </div>
        </div>

        <div class="footer_line"></div>

        <div class="d-flex justify-content-center">
          <div class="footer_info">聯絡資訊</div>
          <div class="footer_info">參考資訊</div>
        </div>
      </div>

      <div class="footer_copy d-flex justify-content-center">
        &copy;Copyright, Inc. 2021. MFEE17-第五組專題
      </div>
    </footer>
    <!-- =========footer end========= -->
    <!-- body end -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="vegas/vegas.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      let btn_nav = document.querySelector(".btn_nav");
      let nav = document.querySelector(".nav");

      btn_nav.onclick = function () {
        this.classList.toggle("change");
        nav.classList.toggle("nav_show");
      };
      //vegas
      $(".display-photo-box").vegas({
        timer: false,
        delay: 3000,
        slides: [
          { src: "./img/display-photo1.jpeg" },
          { src: "./img/display-photo2.jpeg" },
          { src: "./img/display-photo3.jpeg" },
        ],
        transition: "fade",
      });
      $("#vegasPrev").on("click", function () {
        $(".display-photo-box").vegas("previous");
      });
      $("#vegasNext").on("click", function () {
        $(".display-photo-box").vegas("next");
      });
      //heart-icon
      $("a.heart-icon-bkg").each(function () {
        $(this).click(function () {
          $(this).toggleClass("heart-icon-bkg-click");
        });
      });
      //cart-icon
      $(".cart-icon-bkg").click(function () {
        //display none -> block
        let cartDisplay = $(".cart-num").css("display");
        if(cartDisplay === "none"){
          $(".cart-num").css("display", "block");
        }
        // alert("已將商品加入購物車！");
        Swal.fire({
          icon: 'success',
          title: '已將商品加入購物車！',
          showConfirmButton: false,
          timer: 1500
        })
        //cart-num ++
        let cartNum = parseInt($(".cart-num").text());
        //限制一次加進購物車數量
        if(cartNum>=10){
          Swal.fire({
          icon: 'error',
          title: '一次最多只能放入10樣商品喔',
          showConfirmButton: false,
          timer: 1500
        })
        }else{
          cartNum ++;
          $(".cart-num").text(cartNum);
        }
      });
    </script>
  </body>
</html>
