/*cart-num*/
.cart-num {
  top: -6px;
  right:-8px;
  font-size: 8px;
  background: #cc543a;
  color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: none;
}
/*category-bar start*/
.category-bar {
  max-width: 800px;
  margin: 10px auto;
}
.category-bar ul {
  margin: 0;
}
.category-bar ul li a {
  display: block;
  width: 200px;
  padding: 10px 0;
  text-align: center;
  /* body-title */
  /* font-family: Source Sans Pro; */
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #828282;
  border-bottom: 4px solid #e0e0e0;
}
.category-bar ul li a:hover,
.category-bar ul li a.active {
  text-decoration: none;
  color: #333;
  border-bottom: 4px solid #6da77f;
}
@media screen and (max-width: 768px) {
  .category-bar {
    max-width: 540px;
  }
  .category-bar ul li a {
    width: 135px;
  }
}
/*category-bar end*/
/*編輯嚴選 熱銷不敗 start*/
/*產品*/
.product-card {
  margin: 10px auto;
  width: 200px;
  height: 300px;
}
.product-img-box {
  width: 200px;
  height: 200px;
}
.product-img-box img {
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.cover-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-name,
.article-name {
  display: block;
  margin: 10px 0;
  /* font-family: Source Sans Pro; */
  font-size: 16px;
  line-height: 22px;
  color: #4e4e4e;
}
.product-price {
  /* font-family: Source Sans Pro; */
  font-size: 14px;
  line-height: 20px;
  color: #414141;
}
.heart-icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}
.heart-icon-bkg {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  right: 10px;
  top: 10px;
  color: white;
  -webkit-text-stroke: 1px;
  /* -webkit-text-stroke-color: #cc543a; */
  transition: 0.4s;
}
.heart-icon-bkg:hover {
  background: #333;
  color: #eea9a9;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #eea9a9;
}
.heart-icon-bkg:active {
  color: #cc543a;
}
.heart-icon-bkg-click {
  color: #cc543a;
  background: #bdbdbd;
}
.cart-icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
.cart-icon-bkg {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  right: 10px;
  top: 50px;
  transition: 0.4s;
  color: white;
}
.cart-icon-bkg:hover {
  background: #333;
  color: #bae29a;
}
.cart-icon-bkg:active {
  background: #333;
  color: #24936e;
}
/*產品結束*/
/*編輯嚴選 熱銷不敗 end*/
