/* table */
.table-all-left {
  border-collapse: collapse;
  width: 100%;
  border-style: hidden;
  box-shadow: 0 0 0 1px #000;
  border-radius: 10px;
  position: sticky;
  top: 100px;
}
.table-all {
  border-collapse: collapse;
  width: 100%;
  border-style: hidden;
  box-shadow: 0 0 0 1px #000;
  border-radius: 10px;
}
.table-all-map {
  border-collapse: collapse;
  width: 100%;
  border-style: hidden;
  box-shadow: 0 0 0 1px #000;
  border-radius: 10px;
}
.table-all-route {
  border-collapse: collapse;
  width: 100%;
  border-style: hidden;
  box-shadow: 0 0 0 1px #000;
  border-radius: 10px;
}
/* 左邊管理區 */
.left-href-color {
  color: black;
  text-decoration: none;
}
.left-href-color:hover {
  color: black;
  text-decoration: none;
}
.member-name {
  color: #6da77f;
}
.grade-icon {
  color: #4e4e4e;
  font-size: larger;
}
.table-active {
  background-color: #6da77f;
  border-radius: 0;
}
.table-active:hover {
  background-color: #bae29a;
}

/* 頭貼 */
.cover-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.headshot-img-box img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.headshot-img-box {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  text-align: center;
}

/* right-side */
.have-been {
  float: left;
}
.switch-category {
  float: right;
}
.title-main {
  color: #19634a;
}
.text-weight {
  font-size: 18px;
}
.text-weight-bold {
  font-weight: bold;
  font-size: 26px;
}
/* about-membership */
.about-membership {
  bottom: -10px;
  right: 5px;
}
.about-membership a {
  /* font-family: Source Sans Pro; */
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.about-membership a:hover {
  text-decoration: none;
}
/*會員制度氣泡start*/
.about-membership-bubble {
  width: 300px;
  background: #f2f2f2;
  border-radius: 5px;
  right: -45px;
  top: 40px;
  display: none;
}
.about-membership-bubble-arrow {
  width: 0px;
  height: 0px;
  border-width: 15px;
  border-style: solid;
  border-color: #f2f2f2 transparent transparent transparent;
  position: absolute;
  top: 149px;
  right: 100px;
}
.membership {
  /* font-family: Source Sans Pro; */
  font-size: 14px;
  line-height: 20px;
}
.membership-low {
  color: #4e4e4e;
}
.membership-medium {
  color: #19634a;
}
.membership-high {
  color: #ffb943;
}
/*會員制度氣泡end*/
/* switch-tab */
#mapBtn {
  cursor: pointer;
  color: #4e4e4e;
}
#routeBtn {
  cursor: pointer;
  color: #4e4e4e;
}
#areaMap {
  display: block;
}
#areaRoute {
  display: block;
}
/* 圖片 */
.picture-img {
  border-radius: 10px;
  object-fit: cover;
  height: 100%;
  width: 100px;
}
.picture-img-box {
  width: 100px;
  height: 100px;
}
.picture-img-wrapper {
  display: flex;
  align-self: center;
  justify-content: center;
}
/* about-membership */
.about-membership {
  bottom: -10px;
  right: 5px;
}
.about-membership a {
  /* font-family: Source Sans Pro; */
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.about-membership a:hover {
  text-decoration: none;
}
/*會員制度氣泡start*/
.member-level {
  width: 60px;
  margin: 0 auto;
}
.about-membership-bubble {
  width: 300px;
  background: rgba(238, 237, 237, 1);
  border-radius: 5px;
  right: -120px;
  top: 40px;
  display: none;
  z-index: 100;
}
.about-membership-bubble-arrow {
  width: 0px;
  height: 0px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #f2f2f2 transparent;
  position: absolute;
  top: -25px;
  right: 115px;
}
.membership {
  /* font-family: Source Sans Pro; */
  font-size: 14px;
  line-height: 20px;
}
.membership-low {
  color: #4e4e4e;
}
.membership-medium {
  color: #19634a;
}
.membership-high {
  color: #ffb943;
}
/*會員制度氣泡end*/

/* 切換區塊 start */
.content2 {
  display: none;
}
/* 切換區塊 end */

/* progress bar star */
:root {
  --barBackground-color: #6da77f;
  --barShadow-color: #bae29a;
  --progressachievement-width: calc(25.55%);
}
.bar_list {
  display: flex;
  margin-top: 4px;
  margin-bottom: 20px;
  margin-left: 40px;
}
.progress-bg {
  margin: 0 auto;
  width: 90%;
  height: 32px;
  border-radius: 50px;
  text-align: center;
  -webkit-box-shadow: inset 0 0 50px var(--barShadow-color);
  box-shadow: inset 0 0 50px var(--barShadow-color);
}
.progress-bg-font {
  position: absolute;
  /* left: 50%; */
  transform: translateX(-50%);
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.progress_achievement-bar {
  height: 32px;
  border-radius: 50px 0 0 50px;
  float: left;
  width: var(--progressachievement-width);
  background-color: var(--barBackground-color);
  background: -webkit-linear-gradient(
    top,
    var(--barBackground-color),
    var(--barBackground-color)
  );
}
/* progress bar end */
