<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="index.css" type="text/css" />
    <link rel="stylesheet" href="shopping-1-content.css" type="text/css" />
    <link rel="stylesheet" href="bar2.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <title>購物車明細</title>
  </head>
  <body>
    <!-- body star -->
    <!-- =========header star========= -->
    <header class="header sticky-top">
      <a href="#" class="logo_top">
        <img src="img/logo.png" alt="logo_top" />
      </a>
      <div class="btns">
        <a href="#" class="search_button"><i class="bi bi-search h4"></i></a>
        <a href="#" class="shopping_button"><i class="bi bi-cart h4"></i></a>
        <a href="#" class="sign_button">Sign In</a>
      </div>
      <!-- =========nav star========= -->
      <nav class="nav">
        <ul class="list-unstyled d-flex">
          <li>
            <a class="nav-font" href="#">路線地圖</a>
          </li>
          <li>
            <a class="nav-font" href="#">推薦攻略</a>
          </li>
          <li>
            <a class="nav-font" href="#">購物商城</a>
          </li>
          <li>
            <a class="nav-font" href="#">建議穿搭</a>
          </li>
        </ul>
      </nav>

      <div class="btn_nav">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      <!-- <a class="btn_nav btn_close"></a> -->
      <!-- =========nav end========= -->
    </header>
    <!-- =========header end========= -->

    <!-- =========content star========= -->
    <div class="container">
      <!-- progress-bar-step start -->
      <div class="progress-bar-step">
        <!-- class change to current "step-2" -->
        <div class="step-1" id="checkout-progress" data-current-step="1">
          <div class="progress-bar">
            <!-- "active" change to "valid" -->
            <div class="step step-1 active">
              <span> 1</span>
              <!-- "opaque" change to "" -->
              <div class="fa fa-check opaque"></div>
              <div class="step-label">確認購物車</div>
            </div>
            <!-- add class "active" -->
            <div class="step step-2">
              <span> 2</span>
              <div class="fa fa-check opaque"></div>
              <div class="step-label">付款與運送方式</div>
            </div>
            <div class="step step-3">
              <span> 3</span>
              <div class="fa fa-check opaque"></div>
              <div class="step-label">資料確認</div>
            </div>
            <div class="step step-4">
              <span> 4</span>
              <div class="fa fa-check opaque"></div>
              <div class="step-label">完成訂單</div>
            </div>
          </div>
        </div>
        <div class="button-container">
          <div class="btn btn-prev disabled">previous step</div>
          <div class="btn btn-next">next step</div>
        </div>
      </div>
      <!-- progress-bar-step end -->
      <div class="row">
        <div class="col-lg-12 mt-5">
          <h2 class="text-center">購物車明細</h2>
          <table class="table table-borderless mt-5 text-center">
            <thead class="thead-tr-border">
              <tr>
                <th scope="col">商品照片</th>
                <th scope="col" class="product-name">商品名稱</th>
                <th scope="col" class="product-size">尺寸</th>
                <th scope="col" class="product-perprice">單價</th>
                <th scope="col" class="product-count">數量</th>
                <th scope="col" class="product-subtotal">小計</th>
                <th scope="col" class="product-delete">刪除</th>
              </tr>
            </thead>
            <tbody class="tbody-tr-border">
              <tr>
                <td scope="row">
                  <div class="product-img-box">
                    <img src="img/shoes-pic7.jpeg" alt="" class="cover-fit" />
                  </div>
                </td>
                <td scope="row">MERRELL Tetrex Crest Wrap 女水陸三棲鞋</td>
                <td scope="row">
                  <div class="button-box m-3">
                    <button class="size-btn active mx-1">S</button>
                    <button class="size-btn mx-1">M</button>
                    <button class="size-btn mx-1">L</button>
                  </div>
                </td>
                <td scope="row">NT$ 5,000</td>
                <td scope="row">
                  <a href="" class="size"><i class="bi bi-dash"></i></a>
                  <span class="counts">1</span>
                  <a href="" class="size"><i class="bi bi-plus"></i></a>
                </td>
                <td scope="row">NT$ 5,000</td>
                <td scope="row">
                  <a href=""><i class="bi bi-trash h5"></i></a>
                </td>
              </tr>
              <tr>
                <td scope="row">
                  <div class="product-img-box">
                    <img src="img/shoes-pic7.jpeg" alt="" class="cover-fit" />
                  </div>
                </td>
                <td scope="row">MERRELL Tetrex Crest Wrap 女水陸三棲鞋</td>
                <td scope="row">
                  <div class="button-box m-3">
                    <button class="size-btn active mx-1">S</button>
                    <button class="size-btn mx-1">M</button>
                    <button class="size-btn mx-1">L</button>
                  </div>
                </td>
                <td scope="row">NT$ 5,000</td>
                <td scope="row">
                  <a href="" class="size"><i class="bi bi-dash"></i></a>
                  <span class="counts">1</span>
                  <a href="" class="size"><i class="bi bi-plus"></i></a>
                </td>
                <td scope="row">NT$ 5,000</td>
                <td scope="row">
                  <a href=""><i class="bi bi-trash h5"></i></a>
                </td>
              </tr>
              <tr>
                <td scope="row">
                  <div class="product-img-box">
                    <img src="img/shoes-pic7.jpeg" alt="" class="cover-fit" />
                  </div>
                </td>
                <td scope="row">MERRELL Tetrex Crest Wrap 女水陸三棲鞋</td>
                <td scope="row">
                  <div class="button-box m-3">
                    <button class="size-btn active mx-1">S</button>
                    <button class="size-btn mx-1">M</button>
                    <button class="size-btn mx-1">L</button>
                  </div>
                </td>
                <td scope="row">NT$ 5,000</td>
                <td scope="row">
                  <a href="" class="size"><i class="bi bi-dash"></i></a>
                  <span class="counts">1</span>
                  <a href="" class="size"><i class="bi bi-plus"></i></a>
                </td>
                <td scope="row">NT$ 5,000</td>
                <td scope="row">
                  <a href=""><i class="bi bi-trash h5"></i></a>
                </td>
              </tr>
              <tr>
                <td scope="row">
                  <div class="product-img-box">
                    <img src="img/shoes-pic7.jpeg" alt="" class="cover-fit" />
                  </div>
                </td>
                <td scope="row">MERRELL Tetrex Crest Wrap 女水陸三棲鞋</td>
                <td scope="row">
                  <div class="button-box m-3">
                    <button class="size-btn active mx-1">S</button>
                    <button class="size-btn mx-1">M</button>
                    <button class="size-btn mx-1">L</button>
                  </div>
                </td>
                <td scope="row">NT$ 5,000</td>
                <td scope="row">
                  <a href="" class="size"><i class="bi bi-dash"></i></a>
                  <span class="counts">1</span>
                  <a href="" class="size"><i class="bi bi-plus"></i></a>
                </td>
                <td scope="row">NT$ 5,000</td>
                <td scope="row">
                  <a href=""><i class="bi bi-trash h5"></i></a>
                </td>
              </tr>
              <tr>
                <td scope="row">
                  <div class="product-img-box">
                    <img src="img/shoes-pic7.jpeg" alt="" class="cover-fit" />
                  </div>
                </td>
                <td scope="row">MERRELL Tetrex Crest Wrap 女水陸三棲鞋</td>
                <td scope="row">
                  <div class="button-box m-3">
                    <button class="size-btn active mx-1">S</button>
                    <button class="size-btn mx-1">M</button>
                    <button class="size-btn mx-1">L</button>
                  </div>
                </td>
                <td scope="row">NT$ 5,000</td>
                <td scope="row">
                  <a href="" class="size"><i class="bi bi-dash"></i></a>
                  <span class="counts">1</span>
                  <a href="" class="size"><i class="bi bi-plus"></i></a>
                </td>
                <td scope="row">NT$ 5,000</td>
                <td scope="row">
                  <a href=""><i class="bi bi-trash h5"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- 分頁 start  -->
          <div
            class="btn-toolbar justify-content-center"
            role="toolbar"
            aria-label="Toolbar with button groups"
          >
            <div class="btn-group mr-2" role="group" aria-label="Third group">
              <button type="button" class="btn btn-primary">|<</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="First group">
              <button type="button" class="btn btn-primary"><</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
              <button type="button" class="btn btn-primary">1</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Third group">
              <button type="button" class="btn btn-primary">></button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
              <button type="button" class="btn btn-primary">>|</button>
            </div>
          </div>
          <!-- 分頁 end  -->
          <div class="text-right mt-3">
            <p class="total">商品總計： NT$ 5,000</p>
          </div>
          <div class="text-right mb-5">
            <a type="button" class="btn btn-outline-primary mr-3" href=""
              >繼續購物</a
            >
            <a
              type="button"
              class="btn btn-primary mr-3"
              href="shopping-2-pay-ship.html"
              >進行結帳</a
            >
          </div>

          <div>
            <h5>更多推薦</h5>
            <hr />
            <div class="row">
              <figure class="more-product-img-box ml-5">
                <img src="img/shoes-pic2.jpeg" alt="" class="cover-fit" />
              </figure>
              <figure class="more-product-img-box ml-5">
                <img src="img/shoes-pic2.jpeg" alt="" class="cover-fit" />
              </figure>
            </div>
          </div>
          <div>
            <h5 class="mt-5">瀏覽紀錄</h5>
            <hr />
            <div class="row">
              <figure class="more-product-img-box ml-5 mb-5">
                <img src="img/shoes-pic2.jpeg" alt="" class="cover-fit" />
              </figure>
              <figure class="more-product-img-box ml-5 mb-5">
                <img src="img/shoes-pic2.jpeg" alt="" class="cover-fit" />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- =========content end========= -->

    <!-- =========footer star========= -->
    <footer class="footer">
      <div class="footer_box">
        <div class="d-flex justify-content-center">
          <div class="footer_head">
            <a class="nav-font" href="#">路線地圖</a>
          </div>
          <div class="footer_head">
            <a class="nav-font" href="#">推薦攻略</a>
          </div>
          <a href="#" class="footer_logo">
            <img src="img/logo.png" alt="footer_logo" />
          </a>
          <div class="footer_head">
            <a class="nav-font" href="#">購物商城</a>
          </div>
          <div class="footer_head_last">
            <a class="nav-font_footerLast" href="#">建議穿搭</a>
          </div>
        </div>

        <div class="footer_line"></div>

        <div class="d-flex justify-content-center">
          <div class="footer_info">聯絡資訊</div>
          <div class="footer_info">參考資訊</div>
        </div>
      </div>

      <div class="footer_copy d-flex justify-content-center">
        &copy;Copyright, Inc. 2021. MFEE17-第五組專題
      </div>
    </footer>
    <!-- =========footer end========= -->
    <!-- body end -->

    <script>
      let btn_nav = document.querySelector(".btn_nav");
      let nav = document.querySelector(".nav");

      btn_nav.onclick = function () {
        this.classList.toggle("change");
        nav.classList.toggle("nav_show");
      };
    </script>
  </body>
</html>
