.shopcart-title-dash {
  border-bottom: 1px solid #000000;
  padding-bottom: 20px;
}

/* table start */
.shopcart-thead-tr-border {
  border-bottom: 1px solid black;
}
.shopcart-tbody-tr-border {
  border-bottom: 1px solid black;
}
.shopcart-tbody-tr-border > tr > td {
  vertical-align: middle;
  font-size: 16px;
}
.shopcart-thead-tr-border {
  font-size: 18px;
}
.shopcart-counts {
  padding: 12px;
}
.shopcart-total {
  font-weight: bold;
  font-size: 20px;
}
.shopcart-size-btn {
  width: 35px;
  height: 35px;
  border: 1px solid #6da77f;
  box-sizing: border-box;
  border-radius: 8px;
  /* font-family: Source Sans Pro; */
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #6da77f;
  background: none;
  transition: 0.4s;
}
/* .shopcart-size-btn:hover {
  color: #fff;
  background: #bae29a;
} */
.shopcart-size-btn.shopcart-active {
  color: #fff;
  background: #6da77f;
}
.shopcart-size-btn:shopcart-active {
  background: #24936e;
}
.shopcart-order-number {
  text-align: center;
  width: 35px;
  height: 35px;
  border: 2px solid #bae29a;
}
.shopcart-minus-btn,
.shopcart-add-btn {
  width: 50px;
  border: none;
  background: none;
  font-size: 24px;
  color: #24936e;
  margin-bottom: 7px;
}
/* table end */

/* table product img start */
.shopcart-product-img-box img {
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.shopcart-product-img-box {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  text-align: center;
}
.shopcart-cover-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* table product img end */

/* more product img start */
.shopcart-more-product-img-box img {
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.shopcart-more-product-img-box {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  text-align: center;
}
/* more product img end */

/* 欄位調整 start */
.shopcart-product-name {
  width: 300px;
  max-width: 100%;
}
.shopcart-product-size {
  width: 400px;
  max-width: 100%;
}
.shopcart-product-perprice {
  width: 200px;
  max-width: 100%;
}
.shopcart-product-count {
  width: 400px;
  max-width: 100%;
}
.shopcart-product-storage {
  width: 200px;
  max-width: 100%;
}
.shopcart-product-subtotal {
  width: 200px;
  max-width: 100%;
}
.shopcart-product-delete {
  width: 200px;
  max-width: 100%;
}
/* 欄位調整 end */

/* progress-adj start */
.shopcart-progress-adj {
  margin: 30px auto;
  width: 80%;
  height: 80%;
}
/* progress-adj end */

/* progress bar step start */
.shopcart-opaque {
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.shopcart-disabled {
  opacity: 0.4;
  pointer-events: none;
}

#shopcart-checkout-progress {
  width: 90%;
  margin: 0px auto;
  font-size: 2em;
  font-weight: 900;
  position: relative;
}
@media (max-width: 767px) {
  #shopcart-checkout-progress {
    font-size: 1.5em;
  }
}
#shopcart-checkout-progress:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  height: 10px;
  width: 100%;
  background-color: #ccc;
  -webkit-transform: translateY(-50%) perspective(1000px);
  transform: translateY(-50%) perspective(1000px);
}
#shopcart-checkout-progress:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  height: 10px;
  width: 100%;
  background-color: #6da77f;
  -webkit-transform: scaleX(0) translateY(-50%) perspective(1000px);
  transform: scaleX(0) translateY(-50%) perspective(1000px);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
#shopcart-checkout-progress.shopcart-step-2:after {
  -webkit-transform: scaleX(0.333) translateY(-50%) perspective(1000px);
  transform: scaleX(0.333) translateY(-50%) perspective(1000px);
}
#shopcart-checkout-progress.shopcart-step-3:after {
  -webkit-transform: scaleX(0.666) translateY(-50%) perspective(1000px);
  transform: scaleX(0.666) translateY(-50%) perspective(1000px);
}
#shopcart-checkout-progress.shopcart-step-4:after {
  -webkit-transform: scaleX(1) translateY(-50%) perspective(1000px);
  transform: scaleX(1) translateY(-50%) perspective(1000px);
}
#shopcart-checkout-progress.shopcart-step-5:after {
  -webkit-transform: scaleX(1) translateY(-50%) perspective(1000px);
  transform: scaleX(1) translateY(-50%) perspective(1000px);
}
#shopcart-checkout-progress .shopcart-progress-bar1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#shopcart-checkout-progress .shopcart-progress-bar1 .shopcart-step {
  z-index: 2;
  position: relative;
}
#shopcart-checkout-progress
  .shopcart-progress-bar1
  .shopcart-step
  .shopcart-step-label {
  position: absolute;
  top: calc(100% + 25px);
  left: 50%;
  -webkit-transform: translateX(-50%) perspective(1000px);
  transform: translateX(-50%) perspective(1000px);
  white-space: nowrap;
  font-size: 0.4em;
  font-weight: 600;
  color: #ccc;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media (max-width: 767px) {
  #shopcart-checkout-progress
    .shopcart-progress-bar1
    .shopcart-step
    .shopcart-step-label {
    top: calc(100% + 15px);
  }
}
#shopcart-checkout-progress
  .shopcart-progress-bar1
  .shopcart-step
  .shopcart-step-num {
  color: #ccc;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  /* display: block; */
  -webkit-transform: translate3d(0, 0, 0) scale(1) perspective(1000px);
  transform: translate3d(0, 0, 0) scale(1) perspective(1000px);
}
#shopcart-checkout-progress
  .shopcart-progress-bar1
  .shopcart-step
  .shopcart-fa-check {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(0) perspective(1000px);
  transform: translate3d(-50%, -50%, 0) scale(0) perspective(1000px);
}
#shopcart-checkout-progress
  .shopcart-progress-bar1
  .shopcart-step.shopcart-active
  .shopcart-step-num,
#shopcart-checkout-progress
  .shopcart-progress-bar1
  .shopcart-step.shopcart-active
  .shopcart-step-label {
  color: #6da77f;
}

#shopcart-checkout-progress
  .shopcart-progress-bar1
  .shopcart-step.shopcart-valid
  .shopcart-fa-check {
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1) perspective(1000px);
  transform: translate3d(-50%, -50%, 0) scale(1) perspective(1000px);
}
#shopcart-checkout-progress
  .shopcart-progress-bar1
  .shopcart-step.shopcart-valid
  .shopcart-step-num {
  color: #6da77f;
  -webkit-transform: translate3d(0, 0, 0) scale(2) perspective(1000px);
  transform: translate3d(0, 0, 0) scale(2) perspective(1000px);
}
#shopcart-checkout-progress
  .shopcart-progress-bar1
  .shopcart-step.shopcart-valid
  .shopcart-step-label {
  color: #2c3e50 !important;
}
#shopcart-checkout-progress .shopcart-progress-bar1 .shopcart-step:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) perspective(1000px);
  transform: translate(-50%, -50%) perspective(1000px);
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid #ccc;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media (max-width: 767px) {
  #shopcart-checkout-progress .shopcart-progress-bar1 .shopcart-step:after {
    width: 30px;
    height: 30px;
  }
}
#shopcart-checkout-progress
  .shopcart-progress-bar1
  .shopcart-step.shopcart-active:after {
  border: 3px solid #6da77f;
}
#shopcart-checkout-progress
  .shopcart-progress-bar1
  .shopcart-step.shopcart-valid:after {
  background-color: #6da77f;
  border: 3px solid #6da77f;
}

.shopcart-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  margin: 20px auto;
}
.shopcart-button-container .shopcart-btn {
  display: inline-block;
  background-color: #6da77f;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 900;
  border: 3px solid #6da77f;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  text-align: center;
}
@media (max-width: 767px) {
  .shopcart-button-container .shopcart-btn {
    width: 100%;
    margin-bottom: 15px;
  }
}
.shopcart-button-container .shopcart-btn:hover {
  background-color: transparent;
  color: #6da77f;
  -webkit-transform: scale(1.02) perspective(1000px);
  transform: scale(1.02) perspective(1000px);
}
/* progress bar step end */
/*abby*/
/*no product box*/
.shopcart-product-clear-btn {
  border: none;
}
.shopcart-noproduct-box {
  width: 100%;
  height: 300px;
  background: #ededed;
  border-radius: 5px;
}
.shopcart-no-historyproduct {
  width: 100%;
  height: 100px;
  background: #ededed;
  border-radius: 5px;
}
.shopcart-product-infobox {
  width: 100%;
  height: 200px;
  background: #ededed;
  margin: 0 auto;
  border-radius: 8px;
}
.shopcart-product-infobox-spinner {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  border-radius: 8px;
}
.shopcart-product-infobox-img {
  width: 200px;
  height: 200px;
  max-width: 100%;
  margin: 0 auto;
}
.shopcart-product-infobox-cover-fit {
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shopcart-product-infobox-price {
  /* color: #6da77f; */
  margin: 0 0 10px 0;
  font-weight: bolder;
}
.shopcart-product-infobox-right {
  height: 200px;
}
.shopcart-product-infobox-storage p {
  font-size: 14px;
}
.shopcart-delete-btn {
  width: 110px;
  border: none;
  border-radius: 8px;
  background: #6da77f;
}
/*abby*/

.shopcart_pay_error {
  color: red;
}
.shopcart-more-product-name{
  font-size: small;
}
.shopcart-noproduct-box-bear {
  right: -150px;
  top: -20px;
}
