/*============below all============*/
:root {
  --info-color: #19634a;
  --font-color: #ffffff;
  --button-color: #6da77f;
  --iconHover-color: rgb(249, 249, 173);
  --listContent-font: Source Sans Pro;
  --barShadow-color: #ccc;
  --barBackground-color: #414141;
  --barBackgroundSecond-color: transparent;
  --barFont-color: white;
  --map_hover: #c4c4c4;
  --map_hover_font: rgba(0, 0, 0, 0.4);
  --progressLevelBarXiangshan-width: calc(33.3%);
  /* --progressDistanceBarXiangshan-width: calc(2.3%); */
  /* --progressTimeBarXiangshan-width: calc(1.4 / 60 * 100%); */
  /* --progressDistanceBarJinmian-width: calc(3%); */
  /* --progressTimeBarJinmian-width: calc(1 / 60 * 100%); */
  /* --progressDistanceBarChi-hsing-width: calc(5%); */
  /* --progressTimeBarChi-hsing-width: calc(2.3 / 60 * 100%); */
}

/* .list-unstyled {
  padding-left: 0;
  list-style: none;
} */

/*============below header============*/
/* .header {
  background: var(--info-color);
  height: 78px;
}
.logo_top img {
  position: absolute;
  left: 23px;
  top: 6px;
}
.btns {
  position: absolute;
  right: 25px;
  top: 25px;
}
.search_button,
.shopping_button,
.sign_button {
  color: var(--font-color);
  margin-right: 20px;
}
.search_button:hover,
.shopping_button:hover,
.sign_button:hover {
  color: var(--iconHover-color);
}
.sign_button {
  border: 1px solid var(--font-color);
  border-radius: 5px;
  padding: 5px 20px;
}
.sign_button:hover {
  border: 1px solid var(--iconHover-color);
  border-radius: 5px;
  padding: 5px 20px;
} */

/*============below nav============*/
/* .nav {
  position: absolute;
  left: 266px;
  top: 36px;
  max-width: 100%;
}
.nav-font {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: var(--font-color);
  margin-right: 20px;
}
.nav-font:hover {
  color: var(--font-color);
} */

/*============below content============*/
/* part1 map start */
.mountain_bg {
  width: 100%;
  height: 798px;
  background: url(../../img/mountain-img/bgShort.png);
  background-size: cover;
}
.mountain_bg_box {
  position: relative;
}
.mountain_maps {
  position: absolute;
  bottom: 69px;
  right: 143px;
}
.mountain_maps_item {
  position: relative;
}
.mountain_circle {
  clip-path: circle(50% at 50% 50%);
}
.mountain_triangle {
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}
.mountain_Xiangshan {
  position: absolute;
  top: 138px;
  right: 192px;
  border: 3px solid var(--button-color);
  border-radius: 50%;
}
.mountain_Xiangshan_box {
  width: 52px;
  height: 52px;
  background: url(../../img/mountain-img/xiangshan.jpeg);
  background-size: cover;
}
.mountain_Xiangshan:hover .mountain_Xiangshan_box_hover {
  display: block; /*將區塊顯示*/
}
.mountain_Xiangshan_box_hover {
  position: relative;
  display: none; /*here 看區塊顯示樣子改block*/
}
.mountain_Xiangshan_hover {
  position: absolute;
  width: 536px;
  height: 100px;
  background-color: var(--map_hover);
  opacity: 0.6;
  top: -20px;
  left: 55px;
  transform: translateX(-55%);
}
.mountain_Xiangshan_hover_pic {
  position: absolute;
  width: 536px;
  height: 325px;
  border: 3px solid var(--barFont-color);
  background: url(../../img/mountain-img/xiangshan.jpeg);
  background-size: cover;
  top: 80px;
  left: 55px;
  transform: translateX(-55%);
}
.mountain_Xiangshan_hover_pic_font {
  width: 530px;
  height: 64px;
  background-color: var(--map_hover_font);
  transform: translateY(400%);
}
.mountain_Xiangshan_hover_pic_font_title {
  font-size: 34px;
}
.mountain_Xiangshan_hover_pic_font_star {
  font-size: 20px;
}

.mountain_Jinmian_box {
  width: 52px;
  height: 52px;
  background: url(../../img/mountain-img/jinmianshan.jpeg);
  background-size: cover;
}
.mountain_Jinmian {
  position: absolute;
  top: 79px;
  right: 192px;
  border: 3px solid var(--button-color);
  border-radius: 50%;
}
.mountain_Jinmian:hover .mountain_Jinmian_box_hover {
  display: block; /*將區塊顯示*/
}
.mountain_Jinmian_box_hover {
  position: relative;
  display: none;
}
.mountain_Jinmian_hover {
  position: absolute;
  width: 536px;
  height: 100px;
  background-color: var(--map_hover);
  opacity: 0.6;
  top: -20px;
  left: 55px;
  transform: translateX(-55%);
}
.mountain_Jinmian_hover_pic {
  position: absolute;
  width: 536px;
  height: 325px;
  border: 3px solid var(--barFont-color);
  background: url(../../img/mountain-img/jinmianshan.jpeg);
  background-size: cover;
  top: 80px;
  left: 55px;
  transform: translateX(-55%);
}
.mountain_Jinmian_hover_pic_font {
  width: 530px;
  height: 64px;
  background-color: var(--map_hover_font);
  transform: translateY(400%);
}
.mountain_Jinmian_hover_pic_font_title {
  font-size: 34px;
}
.mountain_Jinmian_hover_pic_font_star {
  font-size: 20px;
}

.mountain_Chi-hsing_box {
  width: 52px;
  height: 52px;
  background: url(../../img/mountain-img/sevenstar.jpeg);
  background-size: cover;
}
.mountain_Chi-hsing {
  position: absolute;
  top: 34px;
  right: 230px;
  border: 3px solid var(--button-color);
  border-radius: 50%;
}
.mountain_Chi-hsing:hover .mountain_Chi-hsing_box_hover {
  display: block; /*將區塊顯示*/
}
.mountain_Chi-hsing_box_hover {
  position: relative;
  display: none;
}
.mountain_Chi-hsing_hover {
  position: absolute;
  width: 536px;
  height: 100px;
  background-color: var(--map_hover);
  opacity: 0.6;
  top: -20px;
  left: 55px;
  transform: translateX(-55%);
}
.mountain_Chi-hsing_hover_pic {
  position: absolute;
  width: 536px;
  height: 325px;
  border: 3px solid var(--barFont-color);
  background: url(../../img/mountain-img/sevenstar.jpeg);
  background-size: cover;
  top: 80px;
  left: 55px;
  transform: translateX(-55%);
}
.mountain_Chi-hsing_hover_pic_font {
  width: 530px;
  height: 64px;
  background-color: var(--map_hover_font);
  transform: translateY(400%);
}
.mountain_Chi-hsing_hover_pic_font_title {
  font-size: 34px;
}
.mountain_Chi-hsing_hover_pic_font_star {
  font-size: 20px;
}

.mountain_lowBear {
  position: absolute;
  bottom: -58px;
  left: 70px;
}
/* part1 map end */
.mountain_container {
  padding: 0;
}
/* map_btn star */
.mountain_map_btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -96px;
}
.mountain_low_button,
.mountain_middle_button {
  padding: 8px 35px;
  margin-right: 68px;
  border: 0;
}
.mountain_high_button {
  padding: 8px 35px;
  margin-right: 0px;
  border: 0;
}
/* map_btn end */
.mountain_content_list {
  position: relative;
}
/* map list star */
.mountain_content_list h2 {
  margin-top: 108px;
  margin-left: 16px;
  margin-bottom: 24px;
}
.mountain_list {
  max-width: 1110px;
  /* height: 282px; 10/10del*/
  height: 320px; /*10/10 add*/
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 15px auto 0 auto;
  display: flex;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.mountain_Xiangshan_list {
  width: 360px;
  height: 319px;
}
.mountain_Xiangshan_pic {
  border-radius: 10px 0 0 10px;
  object-fit: cover;
  width: 360px;
  height: 100%;
}
.mountain_list_last {
  max-width: 1110px;
  height: 282px;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 15px auto 36px auto;
  display: flex;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.mountain_list_detail {
  margin: 16px 24px;
  width: 700px;
  max-width: 100%;
}
.mountain_list_font_box {
  display: flex;
}
.mountain_list_detail_box {
  /*10/10 add*/
  display: block;
}
.mountain_list_font_box,
.mountain_list_distance_title {
  /*10/10 add*/
  justify-content: center;
}
.mountain_list_title {
  font-size: 20px;
  font-family: var(--listContent-font);
  font-weight: bold;
  line-height: 25px;
}
.mountain_list_distance_title {
  display: flex;
  /* position: absolute;
  left: 40%;
  transform: translateX(55%); 10/1 歐陽delete*/
}
/* map list end */

/* Level bar star */
.mountain_bar_list {
  display: flex;
  margin-top: 4px;
  margin-bottom: 20px;
  margin-left: 20px; /* 10/1 歐陽 change 40px->20px*/
  margin-right: 20px; /* 10/1 歐陽 add*/
}
.mountain_progress-bg {
  margin: 0 auto;
  width: 90%;
  height: 32px;
  border-radius: 50px;
  text-align: center;
  -webkit-box-shadow: inset 0 0 50px var(--barShadow-color);
  box-shadow: inset 0 0 50px var(--barShadow-color);
}
.mountain_progress-bar-L-Xiangshan {
  height: 32px;
  border-radius: 50px 0 0 50px;
  float: left;
  width: var(--progressLevelBarXiangshan-width);
  /* fallback */
  background-color: var(--barBackground-color);

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(
    top,
    var(--barBackground-color),
    var(--barBackground-color)
  );
}
.mountain_progress-bar-M-Xiangshan {
  height: 32px;
  /* border-radius: 10px 0 0 10px; */
  border-right: 3px solid var(--barBackground-color);
  float: left;
  width: var(--progressLevelBarXiangshan-width);
  /* fallback */
  background-color: var(--barBackground-color);

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(
    right,
    var(--barBackgroundSecond-color),
    var(--barBackgroundSecond-color)
  );
}
.mountain_progress-bar-H-Xiangshan {
  height: 32px;
  border-radius: 0 50px 50px 0;
  float: left;
  width: var(--progressLevelBarXiangshan-width);
  /* fallback */
  background-color: var(--barBackground-color);

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(
    right,
    var(--barBackgroundSecond-color),
    var(--barBackgroundSecond-color)
  );
}
.mountain_progress-bg p.raised,
.mountain_progress-bg p.unraised {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline;
}
.mountain_progress-bg p.raised {
  color: var(--barFont-color);
  margin: 14px 25px 0 50px;
  padding: 0 25px 0 0;
}
.mountain_progress-bg p.unraised {
  color: var(--barBackground-color);
  margin: 14px 25px 0 50px;
  padding: 0 25px 0 0;
}
/* Level bar end */

/* Distance bar star */
.mountain_progress-bg-font-Xiangshan {
  position: absolute;
  /* left: 50%; */
  transform: translateX(-50%);
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.mountain_progress_distance-bar {
  height: 32px;
  border-radius: 50px 0 0 50px;
  float: left;
  /* width: var(--progressDistanceBarXiangshan-width); */
  background-color: var(--barBackground-color);
  background: -webkit-linear-gradient(
    top,
    var(--barBackground-color),
    var(--barBackground-color)
  );
}
.mountain_progress_distance-bar_Jinmian {
  height: 32px;
  border-radius: 50px 0 0 50px;
  float: left;
  /* width: var(--progressDistanceBarJinmian-width); */
  background-color: var(--barBackground-color);
  background: -webkit-linear-gradient(
    top,
    var(--barBackground-color),
    var(--barBackground-color)
  );
}
.mountain_progress_distance-bar_Chi-hsing {
  height: 32px;
  border-radius: 50px 0 0 50px;
  float: left;
  /* width: var(--progressDistanceBarChi-hsing-width); */
  background-color: var(--barBackground-color);
  background: -webkit-linear-gradient(
    top,
    var(--barBackground-color),
    var(--barBackground-color)
  );
}
/* Distance bar end */

/* Time bar star */
.mountain_progress_time-bar {
  height: 32px;
  border-radius: 50px 0 0 50px;
  float: left;
  /* width: var(--progressTimeBarXiangshan-width); */
  background-color: var(--barBackground-color);
  background: -webkit-linear-gradient(
    top,
    var(--barBackground-color),
    var(--barBackground-color)
  );
}
.mountain_progress_time-bar_Jinmian {
  height: 32px;
  border-radius: 50px 0 0 50px;
  float: left;
  /* width: var(--progressTimeBarJinmian-width); */
  background-color: var(--barBackground-color);
  background: -webkit-linear-gradient(
    top,
    var(--barBackground-color),
    var(--barBackground-color)
  );
}
.mountain_progress_time-bar_Chi-hsing {
  height: 32px;
  border-radius: 50px 0 0 50px;
  float: left;
  /* width: var(--progressTimeBarChi-hsing-width); */
  background-color: var(--barBackground-color);
  background: -webkit-linear-gradient(
    top,
    var(--barBackground-color),
    var(--barBackground-color)
  );
}
/* Time bar end */
.mountain_article_button {
  position: absolute;
  right: 10%;
  transform: translateX(50%);
}
/* pages_btn star */
.mountain_btn-toolbar {
  margin-bottom: 36px;
  margin-top: 36px;
}
/* pages_btn end */

.mountain_content_line {
  border-top: 1px solid var(--button-color);
  margin: 0 auto;
  margin-bottom: 72px;
  max-width: 1108px;
}
/*推薦商品 start*/
.mountain_product_title h3 {
  margin-left: 16px;
}
.mountain_product-list {
  margin-left: 30px;
  display: flex;
}
.mountain_product-card {
  margin: 10px auto;
  width: 160px;
}
.mountain_product-img-box {
  width: 130px;
  height: 130px;
}
.mountain_product-img-box img {
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.mountain_cover-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mountain_product-name {
  display: block;
  margin: 10px 0;
  font-family: Source Sans Pro;
  font-size: 16px;
  line-height: 22px;
  color: #4e4e4e;
}
.mountain_product-price {
  font-family: Source Sans Pro;
  font-size: 14px;
  line-height: 20px;
  color: #414141;
}
/*icon start*/
.mountain_heart-icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}
.mountain_heart-icon-bkg {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  border: none;
  right: 10px;
  top: 10px;
  color: white;
  -webkit-text-stroke: 1px;
  /* -webkit-text-stroke-color: #cc543a; */
  transition: 0.4s;
}
.mountain_heart-icon-bkg:hover {
  background: #333;
  color: #eea9a9;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #eea9a9;
}
.mountain_heart-icon-bkg:active {
  color: #cc543a;
}
.mountain_heart-icon-bkg-click {
  color: #cc543a;
  background: #bdbdbd;
}
.mountain_cart-icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
.mountain_cart-icon-bkg {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  border: none;
  right: 10px;
  top: 50px;
  transition: 0.4s;
  color: white;
}
.mountain_cart-icon-bkg:hover {
  background: #333;
  color: #bae29a;
}
.mountain_cart-icon-bkg:active {
  background: #333;
  color: #24936e;
}
/*icon end*/
.mountain_downLowBear {
  width: 150px;
  height: 210px;
  background: url(../../img/mountain-img/lowBear.png);
  background-size: cover;
  /* margin-left: 150px; */
  left: 100%;
  transform: translateX(100%);
  margin-top: 50px;
  z-index: 1;
}
.mountain_bearSpeak {
  width: 200px;
  height: 130px;
  background: url(../../img/mountain-img/lowSpeak.png);
  background-size: cover;
  margin-top: -45px;
  left: 25%;
  transform: translateX(25%);
  z-index: 0;
}
/*推薦商品 end*/

/*============below footer============*/
/* .footer {
  position: relative;
  background: var(--info-color);
  height: 345px;
  margin-top: 72px;
}
.footer_box {
  padding-top: 50px;
}
.footer_head {
  margin-top: 35px;
  margin-right: 55px;
}
.footer_head_last {
  margin-top: 35px;
  margin-right: 0px;
}
.nav-font_footerLast {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: var(--font-color);
}
.nav-font_footerLast:hover {
  color: var(--font-color);
}
.footer_logo {
  margin-right: 75px;
}
.footer_line {
  border-top: 1px solid var(--font-color);
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1000px;
}
.footer_info {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: var(--font-color);
  margin: 0 10px;
  margin-top: 50px;
}
.footer_copy {
  margin-top: 80px;
  color: var(--font-color);
} */

/*********** ============below media 1200px============ *************/
@media screen and (max-width: 1200px) {
  /* .mountain_list_distance_title {
    left: 30%;
    transform: translateX(55%);
  } 10/1 歐陽delete */
  .mountain_downLowBear {
    margin-left: -100px;
  }

  /* below add 9/18 star */
  .mountain_Xiangshan_list {
    height: 310px;
  }
  .mountain_list {
    height: 311px;
  }
  .mountain_list_detail {
    margin: 5px 0px;
  }
  .mountain_list_font_box {
    justify-content: center;
  }
  .mountain_list_detail_box {
    display: block;
  }
  .mountain_list_distance_title {
    /* position: static;
    left: 0%;
    transform: translateX(0%); 10/1 歐陽delete*/
    justify-content: center;
  }
  .mountain_Xiangshan_pic {
    object-fit: cover;
  }
  /* below add 9/18 end */
}
/*********** ============below media 990px============ *************/
@media screen and (max-width: 990px) {
  /*============below media content============*/
  /* media map list start */
  .mountain_maps {
    position: absolute;
    bottom: 69px;
    right: 55px;
  }
  .mountain_low_button,
  .mountain_middle_button {
    padding: 8px 35px;
    margin-right: 16px;
    border: 0;
  }
  .mountain_lowBear {
    width: 150px;
  }
  .mountain_list {
    width: 680px;
    max-width: 100%;
    /* height: 568px; 9/18 delete*/
    height: 600px;
    border-radius: 10px;
    margin: 15px auto 0 auto;
    display: block;
  }
  .mountain_list_last {
    width: 680px;
    max-width: 100%;
    height: 568px;
    border-radius: 10px;
    margin: 15px auto 36px auto;
    display: block;
  }
  .mountain_Xiangshan_list,
  .mountain_Jinmian_list,
  .mountain_Chi-hsing_list {
    width: 678px;
    max-width: 100%;
    height: 285px;
  }
  .mountain_Xiangshan_pic,
  .mountain_Jinmian_pic,
  .mountain_Chi-hsing_pic {
    border-radius: 10px 10px 0 0;
    object-fit: fill;
    width: 678px;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .mountain_list_detail {
    margin: 16px;
    width: 646px;
    max-width: 100%;
  }
  /* .mountain_list_distance_title {
    left: 10%;
    transform: translateX(30%);
  } */
  .mountain_article_button {
    position: absolute;
    right: 10%;
    transform: translateX(30%);
  }
  /* media map list end */

  /* 推薦商品 star */
  .mountain_product_box {
    position: relative;
  }
  .mountain_product-list {
    flex-wrap: wrap;
  }
  .mountain_downLowBear {
    position: absolute;
    width: 130px;
    height: 182px;
    right: 50%;
    transform: translateX(10%);
    top: 70%;
    z-index: 2;
  }
  .mountain_bearSpeak {
    height: 133px;
    position: absolute;
    right: 50%;
    transform: translateX(135%);
    top: 110%;
    z-index: 1;
  }
}
/* 推薦商品 end */
/*********** ============below media 900px============ *************/
@media screen and (max-width: 900px) {
  /* .nav {
    left: 210px;
  }
  .nav-font {
    font-size: 16px;
  } */
  .mountain_downLowBear {
    position: absolute;
    width: 130px;
    height: 182px;
    right: 50%;
    transform: translateX(-20%);
    top: 70%;
    z-index: 2;
  }
  .mountain_bearSpeak {
    height: 133px;
    position: absolute;
    right: 50%;
    transform: translateX(115%);
    top: 110%;
    z-index: 1;
  }
}

/*********** ============below media 768px============ *************/
@media screen and (max-width: 768px) {
  .mountain_bg {
    width: 100%;
    height: 600px;
  }
  .mountain_maps {
    bottom: 69px;
    right: 100px; /* 9/14 add */
    /* right: 25px; */ /* 9/14 del */
  }
  .mountain_low_map {
    width: 450px;
  }
  .mountain_Xiangshan {
    top: 103px;
    right: 144px;
  }
  .mountain_Jinmian {
    top: 64px;
    right: 144px;
  }
  .mountain_Chi-hsing {
    top: 34px;
    right: 170px;
  }
  .mountain_Xiangshan_box,
  .mountain_Jinmian_box,
  .mountain_Chi-hsing_box {
    width: 30px;
    height: 30px;
  }
  .mountain_Xiangshan_hover,
  .mountain_Jinmian_hover,
  .mountain_Chi-hsing_hover {
    width: 336px;
    height: 40px;
    left: 33px;
  }
  .mountain_Xiangshan_hover_pic,
  .mountain_Jinmian_hover_pic,
  .mountain_Chi-hsing_hover_pic {
    width: 336px;
    height: 225px;
    transform: translateX(-65%);
    top: 20px;
    left: 65px;
  }
  .mountain_Xiangshan_hover_pic_font,
  .mountain_Jinmian_hover_pic_font,
  .mountain_Chi-hsing_hover_pic_font {
    width: 330px;
    transform: translateY(240%);
  }
  .mountain_map_btn {
    width: 350px;
    left: 60%; /* 9/14 add */
    transform: translateX(-60%); /* 9/14 add */
  }
  .mountain_low_button,
  .mountain_middle_button,
  .mountain_high_button {
    padding: 8px 25px;
    margin-right: 16px;
  }

  .mountain_list,
  .mountain_list_last {
    height: 670px;
  }
  .mountain_list_detail {
    margin: 5px 0px;
  }
  .mountain_list_font_box {
    justify-content: center;
  }
  .mountain_list_detail_box {
    display: block;
  }
  .mountain_list_distance_title {
    /* position: static;
    left: 0%;
    transform: translateX(0%); 10/1 歐陽delete*/
    justify-content: center;
  }
  .mountain_bar_list {
    flex-direction: column;
    margin: 16px 0;
  }

  .mountain_product-list {
    margin-bottom: 80px !important; /* 9/14 add */
  }

  .mountain_downLowBear {
    right: 50%;
    transform: translateX(-10%); /* 9/14 add */
    /* transform: translateX(-50%); */ /* 9/14 del */
    top: 70%;
  }
  .mountain_bearSpeak {
    right: 50%;
    transform: translateX(125%); /* 9/14 add */
    /* transform: translateX(45%); */ /* 9/14 del */
    /* top: 70%; */ /* 9/14 del */
  }
}

/*********** ============below media 530px============ *************/
@media screen and (max-width: 530px) {
  .mountain_downLowBear {
    right: 50%;
    transform: translateX(-30%);
    top: 83%;
  }
  .mountain_bearSpeak {
    right: 50%;
    transform: translateX(5%);
    top: 105%;
  }
}
