#canvas {
  border: 1px solid #000;
}
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  cursor: move;
}
.canvas-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 34px;
  font-weight: bold;
  color: #4e4e4e;
  margin-top: 40px;
  text-align: center;
}
.intro {
  font-size: 16px;
  color: #5b7553;
  text-align: center;
}
.subTitle {
  text-align: center;
  font-size: 20px;
  color: #4e4e4e;
  margin-top: 40px;
}
.underline {
  width: 390px;
  border-bottom: 2px solid #bdbdbd;
  margin: 20px auto;
}
.content {
  height: 300px;
  margin-bottom: 40px;
}

.tabs {
  position: relative;
  padding: 15px;
  height: 100%;
  overflow: hidden;
  margin: auto;
  font-size: 22px;
}

.tabs__nav {
  position: relative;
}

.tabs__nav-decoration {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transition: width 0.2s linear 0s, -webkit-transform 0.2s ease-out 0s;
  transition: width 0.2s linear 0s, transform 0.2s ease-out 0s;
  transition: width 0.2s linear 0s, transform 0.2s ease-out 0s,
    -webkit-transform 0.2s ease-out 0s;
  background-color: #119da4;
  border-radius: 3px;
  z-index: 1;
}

.tabs__nav-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  z-index: 5;
}

.tabs__nav-item {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  padding: 15px;
  cursor: pointer;
}
.tabs__nav-item.js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0.05s;
  color: #fff;
}
.tabs__panels {
  position: relative;
  margin-top: 30px;
}

.tabs__panel {
  position: absolute;
  top: 0;
  left: 0;
  transition: none;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  width: 100%;
  opacity: 0;
}
.tabs__panel.js-active {
  transition: all 0.25s linear 0s;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.tabs__panels {
  position: relative;
  margin-top: 30px;
}

.tabs__panel {
  position: absolute;
  top: 0;
  left: 0;
  transition: none;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabs__panel.js-active {
  transition: all 0.25s linear 0s;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.tabs__panel-content:before,
.tabs__panel-content:after {
  display: block;
  width: 100%;
  height: 20px;
  content: "";
  background-color: rgba(0, 0, 0, 0.15);
}
.tabs__panel-img {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

.product-card {
  margin: 0 5px;
  width: 150px;
  height: 180px;
  border: 1px solid green;
}
.product-box {
  width: 150px;
  height: 150px;
  border: 1px solid red;
}
.product-box img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
