/* 左邊管理區 start */
/* table及其內容 */
.member-table-all-left {
  border-collapse: collapse;
  width: 100%;
  border-style: hidden;
  box-shadow: 0 0 0 1px #000;
  border-radius: 10px;
  position: sticky;
  top: 100px;
}
.member-left-href-color {
  color: black;
  text-decoration: none;
}
.member-left-href-color:hover {
  color: black;
  text-decoration: none;
}
.member-member-name {
  color: #6da77f;
}
.member-grade-icon {
  color: #4e4e4e;
  font-size: larger;
}
.member-table-active {
  background-color: #6da77f;
  border-radius: 0;
}
.member-table-active:hover {
  background-color: #bae29a;
}

/* 頭貼 */
.member-cover-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.member-headshot-img-box img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.member-headshot-img-box {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  text-align: center;
}
/* 左邊管理區 end */

// /* 會員制度氣泡 start */
// .member-about-membership-bubble {
//   width: 300px;
//   background: #f2f2f2;
//   border-radius: 5px;
//   right: -45px;
//   top: 70px;
//   display: none;
//   z-index: 100;
// }
// // .member-about-membership-bubble-arrow {
// //   width: 0px;
// //   height: 0px;
// //   border-width: 15px;
// //   border-style: solid;
// //   border-color: transparent transparent #f2f2f2 transparent;
// //   position: absolute;
// //   top: -25px;
// //   right: 145px;
// // }
// .member-membership {
//   /* font-family: Source Sans Pro; */
//   font-size: 14px;
//   line-height: 20px;
//   z-index: 100;
// }
// .member-membership-low {
//   color: #4e4e4e;
// }
// .member-membership-medium {
//   color: #19634a;
// }
// .member-membership-high {
//   color: #ffb943;
// }
// /* 會員制度氣泡 end */

/* 右邊區域 start */
.member-product-article-table-all {
  border-collapse: collapse;
  width: 100%;
  border-style: hidden;
  box-shadow: 0 0 0 1px #000;
  border-radius: 10px;
}
.member-product-article-switch-category {
  float: right;
}
.member-product-article-title-main {
  color: #19634a;
}
.member-product-article-text-weight {
  font-size: 18px;
}
.member-product-article-text-weight-bold {
  font-weight: bold;
  font-size: 26px;
}
.member-product-article-star-icon {
  color: #ffb943;
}
.member-product-article-cancel-icon {
  color: #5b7553;
}
/* 圖片 */
.member-product-article-product-img {
  width: 150px;
}
.member-product-article-product-picture-img {
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.member-product-article-product-picture-img-box {
  width: 100px;
  height: auto;
}
.member-product-article-product-picture-img-wrapper {
  display: flex;
  align-self: center;
  justify-content: center;
}
.member-product-article-article-picture-img {
  border-radius: 10px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.member-product-article-article-picture-img-box {
  width: 150px;
  height: auto;
}
.member-product-article-article-picture-img-wrapper {
  display: flex;
  align-self: center;
  justify-content: center;
}
.member-product-article-product-name {
  width: 200px;
  max-width: 100%;
}
@media (max-width: 768px) {
  .member-product-article-product-img {
  }
  .member-product-article-product-name {
  }
  .member-product-article-product-size {
  }
  .member-product-article-product-price {
  }
  .member-product-article-product-buy {
  }
  .member-product-article-product-delete {
  }
}
/* 右邊區域 end */

/* 切換區塊 start */
.member-product-article-content2 {
  display: none;
}
/* 切換區塊 end */
// member-article-heart start
// .table td {
//   border: none;
// }
// member-article-heart end

/*abby*/
.member-product-article-cart-icon{
  line-height: 100%;
}