/* 左邊管理區 start */
/* table及其內容 */
.member-table-all-left {
  border-collapse: collapse;
  width: 100%;
  border-style: hidden;
  box-shadow: 0 0 0 1px #000;
  border-radius: 10px;
  position: sticky;
  top: 100px;
}
.member-left-href-color {
  color: black;
  text-decoration: none;
}
.member-left-href-color:hover {
  color: black;
  text-decoration: none;
}
.member-member-name {
  color: #6da77f;
}
.member-grade-icon {
  color: #4e4e4e;
  font-size: larger;
}
.member-table-active {
  background-color: #6da77f;
  border-radius: 0;
}
.member-table-active:hover {
  background-color: #bae29a;
}

/* 頭貼 */
.member-cover-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.member-headshot-img-box img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.member-headshot-img-box {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  text-align: center;
}
/* 左邊管理區 end */

// /* 會員制度氣泡 start */
// .member-about-membership-bubble {
//   width: 300px;
//   background: #f2f2f2;
//   border-radius: 5px;
//   right: -45px;
//   top: 70px;
//   display: none;
// }
// // .member-about-membership-bubble-arrow {
// //   width: 0px;
// //   height: 0px;
// //   border-width: 15px;
// //   border-style: solid;
// //   border-color: transparent transparent #f2f2f2 transparent;
// //   position: absolute;
// //   top: -25px;
// //   right: 145px;
// // }
// .member-membership {
//   /* font-family: Source Sans Pro; */
//   font-size: 14px;
//   line-height: 20px;
// }
// .member-membership-low {
//   color: #4e4e4e;
// }
// .member-membership-medium {
//   color: #19634a;
// }
// .member-membership-high {
//   color: #ffb943;
// }
// /* 會員制度氣泡 end */

/* 右邊區域 start */
.member-comment-table-all {
  border-collapse: collapse;
  width: 100%;
  border-style: hidden;
  box-shadow: 0 0 0 1px #000;
  border-radius: 10px;
}
.member-comment-switch-category {
  float: right;
}
.member-comment-title-main {
  color: #19634a;
}
.member-comment-text-weight-top {
  font-size: 20px;
}
.member-comment-text-weight-middle {
  font-size: 16px;
  padding-left: 0;
}
.member-comment-product-name {
  width: 200px;
  max-width: 100%;
}
.member-comment-product-size {
  width: 200px;
  max-width: 100%;
}
.member-comment-product-perprice {
  width: 200px;
  max-width: 100%;
}
.member-comment-product-count {
  width: 200px;
  max-width: 100%;
}
.member-comment-product-subtotal {
  width: 200px;
  max-width: 100%;
}
.member-comment-product-delete {
  width: 100px;
  max-width: 100%;
}
/* 圖片 */
.member-comment-picture-img {
  border-radius: 10px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.member-comment-picture-img-box {
  width: 150px;
  height: auto;
}
.member-comment-picture-img-wrapper {
  display: flex;
  align-self: center;
  justify-content: center;
}
/* 右邊區域 end */

/* 切換區塊 start */
.member-comment-content2 {
  display: none;
}
/* 切換區塊 end */

//=== 加入Bar條 右邊區域 star ===//
.member_order_opaque {
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#member_order_checkout-progress {
  width: 90%;
  margin: 0px 180px;
  font-size: 2em;
  font-weight: 900;
  position: relative;
}
@media (max-width: 768px) {
  #member_order_checkout-progress {
    font-size: 1.5em;
  }
  #member_order_checkout-progress {
    margin: 0px 150px;
  }
}
#member_order_checkout-progress:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  height: 10px;
  width: 45%;
  background-color: #ccc;
  -webkit-transform: translateY(-50%) perspective(1000px);
  transform: translateY(-50%) perspective(1000px);
}
#member_order_checkout-progress:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  height: 10px;
  width: 15%;
  background-color: #6da77f;
  -webkit-transform: scaleX(0) translateY(-50%) perspective(1000px);
  transform: scaleX(0) translateY(-50%) perspective(1000px);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
#member_order_checkout-progress.member_order_step-2:after {
  -webkit-transform: scaleX(0.333) translateY(-50%) perspective(1000px);
  transform: scaleX(0.333) translateY(-50%) perspective(1000px);
}
#member_order_checkout-progress.member_order_step-3:after {
  -webkit-transform: scaleX(0.666) translateY(-50%) perspective(1000px);
  transform: scaleX(0.666) translateY(-50%) perspective(1000px);
}

#member_order_checkout-progress .member_order_progress-bar1 {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* position: absolute; */
}
#member_order_checkout-progress .member_order_progress-bar1 .member_order_step {
  z-index: 2;
  position: relative;
}
#member_order_checkout-progress
  .member_order_progress-bar1
  .member_order_step
  .member_order_step-label {
  position: absolute;
  top: calc(100% + 25px);
  left: 50%;
  -webkit-transform: translateX(-50%) perspective(1000px);
  transform: translateX(-50%) perspective(1000px);
  white-space: nowrap;
  font-size: 0.4em;
  font-weight: 600;
  color: #ccc;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media (max-width: 768px) {
  #member_order_checkout-progress
    .member_order_progress-bar1
    .member_order_step
    .member_order_step-label {
    top: calc(100% + 15px);
  }
}
#member_order_checkout-progress
  .member_order_progress-bar1
  .member_order_step
  span {
  color: #ccc;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  /* display: block; */
  -webkit-transform: translate3d(0, 0, 0) scale(1) perspective(1000px);
  transform: translate3d(0, 0, 0) scale(1) perspective(1000px);
}
#member_order_checkout-progress
  .member_order_progress-bar1
  .member_order_step
  .member_order_fa-check {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(0) perspective(1000px);
  transform: translate3d(-50%, -50%, 0) scale(0) perspective(1000px);
}
#member_order_checkout-progress
  .member_order_progress-bar1
  .member_order_step.member_order_active
  span,
#member_order_checkout-progress
  .member_order_progress-bar1
  .member_order_step.member_order_active
  .member_order_step-label {
  color: #6da77f;
}
#member_order_checkout-progress
  .member_order_progress-bar1
  .member_order_step.valid
  .member_order_fa-check {
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1) perspective(1000px);
  transform: translate3d(-50%, -50%, 0) scale(1) perspective(1000px);
}
#member_order_checkout-progress
  .member_order_progress-bar1
  .member_order_step.valid
  span {
  color: #6da77f;
  -webkit-transform: translate3d(0, 0, 0) scale(2) perspective(1000px);
  transform: translate3d(0, 0, 0) scale(2) perspective(1000px);
}
#member_order_checkout-progress
  .member_order_progress-bar1
  .member_order_step.valid
  .member_order_step-label {
  color: #2c3e50 !important;
}
#member_order_checkout-progress
  .member_order_progress-bar1
  .member_order_step:after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) perspective(1000px);
  transform: translate(-50%, -50%) perspective(1000px);
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid #ccc;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
@media (max-width: 768px) {
  #member_order_checkout-progress
    .member_order_progress-bar1
    .member_order_step:after {
    width: 30px;
    height: 30px;
  }
}
#member_order_checkout-progress
  .member_order_progress-bar1
  .member_order_step.member_order_active:after {
  border: 3px solid #6da77f;
}
#member_order_checkout-progress
  .member_order_progress-bar1
  .member_order_step.valid:after {
  background-color: #6da77f;
  border: 3px solid #6da77f;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  margin: 20px auto;
}
.button-container .btn {
  display: inline-block;
  background-color: #6da77f;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 900;
  border: 3px solid #6da77f;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  text-align: center;
}
@media (max-width: 768px) {
  .button-container .btn {
    width: 100%;
    margin-bottom: 15px;
  }
}
.button-container .btn:hover {
  background-color: transparent;
  color: #6da77f;
  -webkit-transform: scale(1.02) perspective(1000px);
  transform: scale(1.02) perspective(1000px);
}

//=== 加入Bar條 右邊區域 end ===//
